In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# YEARMADERANGE vs Floor area
kruskal(data=df, dv='TOTAREA', between='YEARMADERANGE')

                Source  ddof1          H         p-unc
Kruskal  YEARMADERANGE      7  125.40903  5.712499e-24

In [3]:
# YEARMADERANGE vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='YEARMADERANGE')

                Source  ddof1           H         p-unc
Kruskal  YEARMADERANGE      7  446.925041  2.031234e-92

In [4]:
# YEARMADERANGE vs latent heat
kruskal(data=df, dv='OA_LAT', between='YEARMADERANGE')

                Source  ddof1         H     p-unc
Kruskal  YEARMADERANGE      7  33.22901  0.000024

In [5]:
# YEARMADERANGE vs EUI
kruskal(data=df, dv='EUI', between='YEARMADERANGE')

                Source  ddof1           H         p-unc
Kruskal  YEARMADERANGE      7  193.890366  2.255322e-38