In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# ADQINSUL vs TOTCAREA
kruskal(data=df, dv='TOTCAREA', between='ADQINSUL')

           Source  ddof1           H         p-unc
Kruskal  ADQINSUL      3  219.574123  2.481877e-47

In [3]:
# AUDIT vs TOTCAREA
kruskal(data=df, dv='TOTCAREA', between='AUDIT')

        Source  ddof1          H         p-unc
Kruskal  AUDIT      3  66.384746  2.535771e-14

In [4]:
# ESWIN vs TOTCAREA
kruskal(data=df, dv='TOTCAREA', between='ESWIN')

        Source  ddof1           H         p-unc
Kruskal  ESWIN      3  228.994067  2.281952e-49

In [5]:
# ELPAY vs TOTCAREA
kruskal(data=df, dv='TOTCAREA', between='ELPAY')

        Source  ddof1           H         p-unc
Kruskal  ELPAY      3  242.901768  2.243798e-52

In [6]:
# SMARTMETER vs TOTCAREA
kruskal(data=df, dv='TOTCAREA', between='SMARTMETER')

             Source  ddof1          H     p-unc
Kruskal  SMARTMETER      3  26.024944  0.000009

In [7]:
# INTDATA vs TOTCAREA
kruskal(data=df, dv='TOTCAREA', between='INTDATA')

          Source  ddof1          H     p-unc
Kruskal  INTDATA      4  18.951994  0.000803

In [8]:
# ENERGYASST vs TOTCAREA
kruskal(data=df, dv='TOTCAREA', between='ENERGYASST')

             Source  ddof1          H         p-unc
Kruskal  ENERGYASST      1  95.508016  1.472937e-22

In [9]:
# SOLOTHER vs TOTCAREA
kruskal(data=df, dv='TOTCAREA', between='SOLOTHER')

           Source  ddof1         H     p-unc
Kruskal  SOLOTHER      1  3.931044  0.047403