In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# COOLTYPE vs Floor area
kruskal(data=df, dv='TOTAREA', between='COOLTYPE')

           Source  ddof1           H         p-unc
Kruskal  COOLTYPE      2  268.714297  4.460995e-59

In [3]:
# COOLTYPE vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='COOLTYPE')

           Source  ddof1            H  p-unc
Kruskal  COOLTYPE      2  2031.964794    0.0

In [4]:
# COOLTYPE vs latent heat
kruskal(data=df, dv='OA_LAT', between='COOLTYPE')

           Source  ddof1          H         p-unc
Kruskal  COOLTYPE      2  63.263653  1.830090e-14

In [5]:
# COOLTYPE vs EUI
kruskal(data=df, dv='EUI', between='COOLTYPE')

           Source  ddof1           H         p-unc
Kruskal  COOLTYPE      2  173.202067  2.452726e-38