In [2]:
import pandas as pd
import numpy as np
# from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [3]:
data_spss = df[['IECC_CLIMATE', 'EUI']]
data_spss["IECC_CLIMATE"] = data_spss['IECC_CLIMATE'].replace([0,1,2,3,4,5,6,7,8,9,10],
                                                          [1, 2,3,4,5,6,7,8,9,10,11])
data_spss.to_excel('data_spss.xlsx', index=False)

/var/folders/9r/yrwyczrx6hj6d8_xtm_m6wmh0000gn/T/ipykernel_1302/1011182223.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_spss["IECC_CLIMATE"] = data_spss['IECC_CLIMATE'].replace([0,1,2,3,4,5,6,7,8,9,10],

In [2]:
# IECC_CLIMATE vs WSF
kruskal(data=df, dv='WSF', between='IECC_CLIMATE')

               Source  ddof1            H  p-unc
Kruskal  IECC_CLIMATE     10  2760.132671    0.0

In [3]:
# IECC_CLIMATE vs Floor area
kruskal(data=df, dv='TOTAREA', between='IECC_CLIMATE')

               Source  ddof1           H         p-unc
Kruskal  IECC_CLIMATE     10  157.849747  9.001070e-29

In [4]:
# IECC_CLIMATE vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='IECC_CLIMATE')

               Source  ddof1         H         p-unc
Kruskal  IECC_CLIMATE     10  85.31993  4.513800e-14

In [5]:
# IECC_CLIMATE vs latent heat
kruskal(data=df, dv='OA_LAT', between='IECC_CLIMATE')

               Source  ddof1            H  p-unc
Kruskal  IECC_CLIMATE     10  4326.513772    0.0

In [6]:
# IECC_CLIMATE vs EUI
kruskal(data=df, dv='EUI', between='IECC_CLIMATE')

               Source  ddof1            H  p-unc
Kruskal  IECC_CLIMATE     10  2034.154555    0.0