In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['elec_boil_heat_output_lcal_h'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['elec_boil_power_eff_rating'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='elec_boil_power_eff_rating')

                             Source  ddof1         H     p-unc
Kruskal  elec_boil_power_eff_rating      3  2.767638  0.428855

In [4]:
x = data.copy()
x = x.loc[(x['cook_equip_used'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='cook_equip_used')

                  Source  ddof1        H     p-unc
Kruskal  cook_equip_used      3  4.42291  0.219271

In [5]:
x = data.copy()
x = x.loc[(x['renewable_installed'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='renewable_installed')

                      Source  ddof1         H     p-unc
Kruskal  renewable_installed      1  0.030399  0.861589

In [6]:
x = data.copy()
x = x.loc[(x['elec_rate_check'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='elec_rate_check')

                  Source  ddof1         H     p-unc
Kruskal  elec_rate_check      1  4.420035  0.035519

In [7]:
x = data.copy()
x = x.loc[(x['city_g_rate_check'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='city_g_rate_check')

                    Source  ddof1    H  p-unc
Kruskal  city_g_rate_check      0  0.0    NaN

In [8]:
x = data.copy()
x = x.loc[(x['why_not_check_city_el_rate'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='why_not_check_city_el_rate')

                             Source  ddof1        H     p-unc
Kruskal  why_not_check_city_el_rate      1  0.47684  0.489857

In [9]:
x = data.copy()
x = x.loc[(x['why_not_check_city_g_rate'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='why_not_check_city_g_rate')

                            Source  ddof1    H     p-unc
Kruskal  why_not_check_city_g_rate      1  1.0  0.317311

In [10]:
x = data.copy()
x = x.loc[(x['gas_avg_monthly_heat_cost_group'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='gas_avg_monthly_heat_cost_group')

                                  Source  ddof1        H     p-unc
Kruskal  gas_avg_monthly_heat_cost_group      1  1.76705  0.183748

In [3]:
x = data.copy()
x = x.loc[(x['gas_last_winter_heat_statisfaction'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='gas_last_winter_heat_statisfaction')

                                     Source  ddof1         H     p-unc
Kruskal  gas_last_winter_heat_statisfaction      2  0.715468  0.699259

In [12]:
x = data.copy()
x = x.loc[(x['insuf_heat_due_to_cost'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='insuf_heat_due_to_cost')

                         Source  ddof1    H  p-unc
Kruskal  insuf_heat_due_to_cost      0  0.0    NaN

In [13]:
x = data.copy()
x = x.loc[(x['insul_added_material'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='insul_added_material')

                       Source  ddof1         H     p-unc
Kruskal  insul_added_material      4  1.143305  0.887342

In [14]:
x = data.copy()
x = x.loc[(x['improve_energy_method'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='improve_energy_method')

                        Source  ddof1    H  p-unc
Kruskal  improve_energy_method      1  0.0    1.0

In [15]:
x = data.copy()
x = x.loc[(x['energy_savinng_prog'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='energy_savinng_prog')

                      Source  ddof1    H  p-unc
Kruskal  energy_savinng_prog      0  0.0    NaN

In [16]:
x = data.copy()
x = x.loc[(x['N_of_house_members_category'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='N_of_house_members_category')

                              Source  ddof1         H     p-unc
Kruskal  N_of_house_members_category      2  9.317687  0.009477

In [17]:
x = data.copy()
x = x.loc[(x['gender'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='gender')

         Source  ddof1        H     p-unc
Kruskal  gender      1  0.57125  0.449763

In [18]:
x = data.copy()
x = x.loc[(x['head_house_age_group'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='head_house_age_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_age_group      3  2.437889  0.486621

In [19]:
x = data.copy()
x = x.loc[(x['head_house_edu_group'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='head_house_edu_group')

                       Source  ddof1         H    p-unc
Kruskal  head_house_edu_group      3  3.824317  0.28107

In [20]:
x = data.copy()
x = x.loc[(x['head_house_occ_group'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='head_house_occ_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_occ_group      5  7.641629  0.177124

In [21]:
x = data.copy()
x = x.loc[(x['head_house_income_source_group'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='head_house_income_source_group')

                                 Source  ddof1         H     p-unc
Kruskal  head_house_income_source_group      2  2.083007  0.352924

In [22]:
x = data.copy()
x = x.loc[(x['house_member_pregnant'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='house_member_pregnant')

                        Source  ddof1    H  p-unc
Kruskal  house_member_pregnant      0  0.0    NaN

In [23]:
x = data.copy()
x = x.loc[(x['annual_income_category'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='annual_income_category')

                         Source  ddof1    H  p-unc
Kruskal  annual_income_category      0  0.0    NaN

In [24]:
x = data.copy()
x = x.loc[(x['av_monthly_income_group'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='av_monthly_income_group')

                          Source  ddof1         H     p-unc
Kruskal  av_monthly_income_group      2  6.293987  0.042981