In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['housing_direction'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['res_area'] != -2)]
kruskal(data=x, dv='res_area', between='housing_direction')

                    Source  ddof1          H         p-unc
Kruskal  housing_direction      7  46.101564  8.353025e-08

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='housing_direction')

                    Source  ddof1         H     p-unc
Kruskal  housing_direction      7  6.143858  0.523056

In [5]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='housing_direction')

                    Source  ddof1         H    p-unc
Kruskal  housing_direction      7  9.352786  0.22831

In [6]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='housing_direction')

                    Source  ddof1         H     p-unc
Kruskal  housing_direction      7  7.923131  0.339421

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='housing_direction')

                    Source  ddof1         H     p-unc
Kruskal  housing_direction      7  4.522357  0.718023

In [8]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='housing_direction')

                    Source  ddof1          H     p-unc
Kruskal  housing_direction      7  17.827758  0.012772

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='housing_direction')

                    Source  ddof1         H     p-unc
Kruskal  housing_direction      6  3.064697  0.800684

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='housing_direction')

                    Source  ddof1         H     p-unc
Kruskal  housing_direction      4  8.578447  0.072545

In [11]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='housing_direction')

                    Source  ddof1         H     p-unc
Kruskal  housing_direction      4  3.096441  0.541818

In [12]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=df, dv='EUI', between='housing_direction')

                    Source  ddof1          H     p-unc
Kruskal  housing_direction      7  18.388344  0.010335