In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['EUI'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['cook_equip_used'] != -2)]
kruskal(data=x, dv='EUI', between='cook_equip_used')

                  Source  ddof1          H         p-unc
Kruskal  cook_equip_used      4  76.639023  8.967177e-16

In [4]:
x = data.copy()
x = x.loc[(x['renewable_installed'] != -2)]
kruskal(data=x, dv='EUI', between='renewable_installed')

                      Source  ddof1         H     p-unc
Kruskal  renewable_installed      1  0.201208  0.653747

In [5]:
x = data.copy()
x = x.loc[(x['elec_rate_check'] != -2)]
kruskal(data=x, dv='EUI', between='elec_rate_check')

                  Source  ddof1         H     p-unc
Kruskal  elec_rate_check      1  0.099495  0.752436

In [6]:
x = data.copy()
x = x.loc[(x['city_g_rate_check'] != -2)]
kruskal(data=x, dv='EUI', between='city_g_rate_check')

                    Source  ddof1         H     p-unc
Kruskal  city_g_rate_check      1  0.000189  0.989039

In [7]:
x = data.copy()
x = x.loc[(x['why_not_check_city_el_rate'] != -2)]
kruskal(data=x, dv='EUI', between='why_not_check_city_el_rate')

                             Source  ddof1          H     p-unc
Kruskal  why_not_check_city_el_rate      3  17.852354  0.000472

In [8]:
x = data.copy()
x = x.loc[(x['why_not_check_city_g_rate'] != -2)]
kruskal(data=x, dv='EUI', between='why_not_check_city_g_rate')

                            Source  ddof1         H     p-unc
Kruskal  why_not_check_city_g_rate      3  6.902747  0.075063

In [9]:
x = data.copy()
x = x.loc[(x['gas_avg_monthly_heat_cost_group'] != -2)]
kruskal(data=x, dv='EUI', between='gas_avg_monthly_heat_cost_group')

                                  Source  ddof1          H     p-unc
Kruskal  gas_avg_monthly_heat_cost_group      3  17.196987  0.000644

In [3]:
x = data.copy()
x = x.loc[(x['gas_last_winter_heat_statisfaction'] != -2)]
kruskal(data=x, dv='EUI', between='gas_last_winter_heat_statisfaction')

                                     Source  ddof1         H     p-unc
Kruskal  gas_last_winter_heat_statisfaction      2  1.196096  0.549884

In [11]:
x = data.copy()
x = x.loc[(x['insuf_heat_due_to_cost'] != -2)]
kruskal(data=x, dv='EUI', between='insuf_heat_due_to_cost')

                         Source  ddof1         H     p-unc
Kruskal  insuf_heat_due_to_cost      1  0.095724  0.757022

In [12]:
x = data.copy()
x = x.loc[(x['insul_added_material'] != -2)]
kruskal(data=x, dv='EUI', between='insul_added_material')

                       Source  ddof1          H     p-unc
Kruskal  insul_added_material      6  14.702318  0.022703

In [13]:
x = data.copy()
x = x.loc[(x['improve_energy_method'] != -2)]
kruskal(data=x, dv='EUI', between='improve_energy_method')

                        Source  ddof1        H     p-unc
Kruskal  improve_energy_method      5  8.54305  0.128738

In [14]:
x = data.copy()
x = x.loc[(x['energy_savinng_prog'] != -2)]
kruskal(data=x, dv='EUI', between='energy_savinng_prog')

                      Source  ddof1         H    p-unc
Kruskal  energy_savinng_prog      2  2.649947  0.26581

In [15]:
x = data.copy()
x = x.loc[(x['N_of_house_members_category'] != -2)]
kruskal(data=x, dv='EUI', between='N_of_house_members_category')

                              Source  ddof1          H     p-unc
Kruskal  N_of_house_members_category      3  10.050012  0.018146

In [16]:
x = data.copy()
x = x.loc[(x['gender'] != -2)]
kruskal(data=x, dv='EUI', between='gender')

         Source  ddof1         H     p-unc
Kruskal  gender      1  3.219121  0.072783

In [17]:
x = data.copy()
x = x.loc[(x['head_house_age_group'] != -2)]
kruskal(data=x, dv='EUI', between='head_house_age_group')

                       Source  ddof1          H     p-unc
Kruskal  head_house_age_group      4  22.273144  0.000177

In [18]:
x = data.copy()
x = x.loc[(x['head_house_edu_group'] != -2)]
kruskal(data=x, dv='EUI', between='head_house_edu_group')

                       Source  ddof1          H         p-unc
Kruskal  head_house_edu_group      3  67.709465  1.320137e-14

In [19]:
x = data.copy()
x = x.loc[(x['head_house_occ_group'] != -2)]
kruskal(data=x, dv='EUI', between='head_house_occ_group')

                       Source  ddof1          H     p-unc
Kruskal  head_house_occ_group      5  28.103923  0.000035

In [20]:
x = data.copy()
x = x.loc[(x['head_house_income_source_group'] != -2)]
kruskal(data=x, dv='EUI', between='head_house_income_source_group')

                                 Source  ddof1          H         p-unc
Kruskal  head_house_income_source_group      6  51.203009  2.696519e-09

In [21]:
x = data.copy()
x = x.loc[(x['house_member_pregnant'] != -2)]
kruskal(data=x, dv='EUI', between='house_member_pregnant')

                        Source  ddof1         H     p-unc
Kruskal  house_member_pregnant      1  0.301737  0.582795

In [22]:
x = data.copy()
x = x.loc[(x['annual_income_category'] != -2)]
kruskal(data=x, dv='EUI', between='annual_income_category')

                         Source  ddof1         H     p-unc
Kruskal  annual_income_category      4  2.899761  0.574738

In [23]:
x = data.copy()
x = x.loc[(x['av_monthly_income_group'] != -2)]
kruskal(data=x, dv='EUI', between='av_monthly_income_group')

                          Source  ddof1       H         p-unc
Kruskal  av_monthly_income_group      3  71.508  2.029100e-15