In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['gas boil_heat efficiency'] != -2)]

In [5]:
x = data.copy()
x = x.loc[(x['cook_equip_used'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='cook_equip_used')

                  Source  ddof1         H     p-unc
Kruskal  cook_equip_used      4  5.139601  0.273271

In [6]:
x = data.copy()
x = x.loc[(x['renewable_installed'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='renewable_installed')

                      Source  ddof1         H     p-unc
Kruskal  renewable_installed      1  0.140399  0.707885

In [7]:
x = data.copy()
x = x.loc[(x['elec_rate_check'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='elec_rate_check')

                  Source  ddof1          H     p-unc
Kruskal  elec_rate_check      1  16.911258  0.000039

In [8]:
x = data.copy()
x = x.loc[(x['city_g_rate_check'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='city_g_rate_check')

                    Source  ddof1          H         p-unc
Kruskal  city_g_rate_check      1  31.585286  1.908704e-08

In [9]:
x = data.copy()
x = x.loc[(x['why_not_check_city_el_rate'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='why_not_check_city_el_rate')

                             Source  ddof1         H     p-unc
Kruskal  why_not_check_city_el_rate      3  2.915096  0.404902

In [11]:
x = data.copy()
x = x.loc[(x['why_not_check_city_g_rate'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='why_not_check_city_g_rate')

                            Source  ddof1        H     p-unc
Kruskal  why_not_check_city_g_rate      3  4.12482  0.248297

In [12]:
x = data.copy()
x = x.loc[(x['gas_avg_monthly_heat_cost_group'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='gas_avg_monthly_heat_cost_group')

                                  Source  ddof1         H     p-unc
Kruskal  gas_avg_monthly_heat_cost_group      3  4.781124  0.188544

In [3]:
x = data.copy()
x = x.loc[(x['gas_last_winter_heat_statisfaction'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='gas_last_winter_heat_statisfaction')

                                     Source  ddof1        H     p-unc
Kruskal  gas_last_winter_heat_statisfaction      2  9.19491  0.010077

In [14]:
x = data.copy()
x = x.loc[(x['insuf_heat_due_to_cost'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='insuf_heat_due_to_cost')

                         Source  ddof1         H     p-unc
Kruskal  insuf_heat_due_to_cost      1  6.772375  0.009258

In [15]:
x = data.copy()
x = x.loc[(x['insul_added_material'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='insul_added_material')

                       Source  ddof1         H    p-unc
Kruskal  insul_added_material      6  4.255308  0.64217

In [16]:
x = data.copy()
x = x.loc[(x['improve_energy_method'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='improve_energy_method')

                        Source  ddof1         H     p-unc
Kruskal  improve_energy_method      5  8.563925  0.127774

In [17]:
x = data.copy()
x = x.loc[(x['energy_savinng_prog'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='energy_savinng_prog')

                      Source  ddof1         H     p-unc
Kruskal  energy_savinng_prog      2  0.993333  0.608556

In [18]:
x = data.copy()
x = x.loc[(x['N_of_house_members_category'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='N_of_house_members_category')

                              Source  ddof1         H     p-unc
Kruskal  N_of_house_members_category      2  0.021493  0.989311

In [19]:
x = data.copy()
x = x.loc[(x['gender'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='gender')

         Source  ddof1         H     p-unc
Kruskal  gender      1  0.036923  0.847623

In [20]:
x = data.copy()
x = x.loc[(x['head_house_age_group'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='head_house_age_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_age_group      4  9.658806  0.046584

In [21]:
x = data.copy()
x = x.loc[(x['head_house_edu_group'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='head_house_edu_group')

                       Source  ddof1          H     p-unc
Kruskal  head_house_edu_group      3  16.543149  0.000877

In [22]:
x = data.copy()
x = x.loc[(x['head_house_occ_group'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='head_house_occ_group')

                       Source  ddof1          H     p-unc
Kruskal  head_house_occ_group      5  15.750226  0.007595

In [23]:
x = data.copy()
x = x.loc[(x['head_house_income_source_group'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='head_house_income_source_group')

                                 Source  ddof1          H     p-unc
Kruskal  head_house_income_source_group      6  14.170499  0.027789

In [24]:
x = data.copy()
x = x.loc[(x['house_member_pregnant'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='house_member_pregnant')

                        Source  ddof1         H     p-unc
Kruskal  house_member_pregnant      1  0.219373  0.639518

In [25]:
x = data.copy()
x = x.loc[(x['annual_income_category'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='annual_income_category')

                         Source  ddof1         H     p-unc
Kruskal  annual_income_category      2  6.812171  0.033171

In [26]:
x = data.copy()
x = x.loc[(x['av_monthly_income_group'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='av_monthly_income_group')

                          Source  ddof1         H     p-unc
Kruskal  av_monthly_income_group      3  8.690427  0.033703