In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['keros_boil_heat_output'] != -2)]

In [13]:
x = data.copy()
x = x.loc[(x['gas boiler_eff_rating'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='gas boiler_eff_rating')

ZeroDivisionError: division by zero

In [14]:
x = data.copy()
x = x.loc[(x['elec_boil_power_eff_rating'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='elec_boil_power_eff_rating')

ZeroDivisionError: division by zero

In [15]:
x = data.copy()
x = x.loc[(x['cook_equip_used'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='cook_equip_used')

                  Source  ddof1         H     p-unc
Kruskal  cook_equip_used      1  1.231775  0.267062

In [16]:
x = data.copy()
x = x.loc[(x['renewable_installed'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='renewable_installed')

                      Source  ddof1        H     p-unc
Kruskal  renewable_installed      1  1.16665  0.280091

In [17]:
x = data.copy()
x = x.loc[(x['elec_rate_check'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='elec_rate_check')

                  Source  ddof1         H     p-unc
Kruskal  elec_rate_check      1  2.697979  0.100476

In [18]:
x = data.copy()
x = x.loc[(x['city_g_rate_check'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='city_g_rate_check')

ZeroDivisionError: division by zero

In [19]:
x = data.copy()
x = x.loc[(x['why_not_check_city_el_rate'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='why_not_check_city_el_rate')

                             Source  ddof1         H     p-unc
Kruskal  why_not_check_city_el_rate      3  5.015723  0.170649

In [20]:
x = data.copy()
x = x.loc[(x['why_not_check_city_g_rate'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='why_not_check_city_g_rate')

ZeroDivisionError: division by zero

In [21]:
x = data.copy()
x = x.loc[(x['gas_avg_monthly_heat_cost_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='gas_avg_monthly_heat_cost_group')

                                  Source  ddof1         H     p-unc
Kruskal  gas_avg_monthly_heat_cost_group      3  2.273803  0.517558

In [3]:
x = data.copy()
x = x.loc[(x['gas_last_winter_heat_statisfaction'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='gas_last_winter_heat_statisfaction')

                                     Source  ddof1         H     p-unc
Kruskal  gas_last_winter_heat_statisfaction      2  1.258238  0.533061

In [23]:
x = data.copy()
x = x.loc[(x['insuf_heat_due_to_cost'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='insuf_heat_due_to_cost')

                         Source  ddof1         H     p-unc
Kruskal  insuf_heat_due_to_cost      1  2.901584  0.088493

In [24]:
x = data.copy()
x = x.loc[(x['insul_added_material'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='insul_added_material')

                       Source  ddof1         H     p-unc
Kruskal  insul_added_material      6  7.054695  0.315819

In [25]:
x = data.copy()
x = x.loc[(x['improve_energy_method'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='improve_energy_method')

                        Source  ddof1         H    p-unc
Kruskal  improve_energy_method      3  3.200588  0.36172

In [26]:
x = data.copy()
x = x.loc[(x['energy_savinng_prog'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='energy_savinng_prog')

                      Source  ddof1         H     p-unc
Kruskal  energy_savinng_prog      1  0.640285  0.423607

In [27]:
x = data.copy()
x = x.loc[(x['N_of_house_members_category'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='N_of_house_members_category')

                              Source  ddof1         H     p-unc
Kruskal  N_of_house_members_category      3  1.974113  0.577797

In [28]:
x = data.copy()
x = x.loc[(x['gender'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='gender')

         Source  ddof1         H     p-unc
Kruskal  gender      1  2.457548  0.116961

In [29]:
x = data.copy()
x = x.loc[(x['head_house_age_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='head_house_age_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_age_group      4  2.560016  0.633922

In [30]:
x = data.copy()
x = x.loc[(x['head_house_edu_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='head_house_edu_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_edu_group      3  4.711113  0.194215

In [31]:
x = data.copy()
x = x.loc[(x['head_house_occ_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='head_house_occ_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_occ_group      5  7.252243  0.202546

In [32]:
x = data.copy()
x = x.loc[(x['head_house_income_source_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='head_house_income_source_group')

                                 Source  ddof1        H     p-unc
Kruskal  head_house_income_source_group      6  7.02962  0.318117

In [33]:
x = data.copy()
x = x.loc[(x['house_member_pregnant'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='house_member_pregnant')

                        Source  ddof1         H     p-unc
Kruskal  house_member_pregnant      1  0.036671  0.848137

In [34]:
x = data.copy()
x = x.loc[(x['annual_income_category'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='annual_income_category')

                         Source  ddof1         H     p-unc
Kruskal  annual_income_category      1  2.389014  0.122191

In [35]:
x = data.copy()
x = x.loc[(x['av_monthly_income_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='av_monthly_income_group')

                          Source  ddof1         H     p-unc
Kruskal  av_monthly_income_group      3  4.374008  0.223808