In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')
df = df.loc[(df['USECENAC'] != -2) & (df['USECENAC'] != 5)]

In [2]:
# USECENAC vs Floor area
kruskal(data=df, dv='TOTAREA', between='USECENAC')

           Source  ddof1           H         p-unc
Kruskal  USECENAC      4  155.629416  1.265054e-32

In [3]:
# USECENAC vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='USECENAC')

           Source  ddof1           H         p-unc
Kruskal  USECENAC      4  154.942921  1.775350e-32

In [4]:
# USECENAC vs latent heat
kruskal(data=df, dv='OA_LAT', between='USECENAC')

           Source  ddof1           H         p-unc
Kruskal  USECENAC      4  137.432729  1.000453e-28

In [2]:
# USECENAC vs EUI
kruskal(data=df, dv='EUI', between='USECENAC')

           Source  ddof1           H         p-unc
Kruskal  USECENAC      3  130.429252  4.370867e-28