In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['h_occupancy_type'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='h_occupancy_type')

                   Source  ddof1         H     p-unc
Kruskal  h_occupancy_type      3  0.538813  0.910285

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='h_occupancy_type')

                   Source  ddof1         H     p-unc
Kruskal  h_occupancy_type      2  0.082904  0.959396

In [5]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='h_occupancy_type')

                   Source  ddof1         H    p-unc
Kruskal  h_occupancy_type      3  19.76156  0.00019

In [6]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='h_occupancy_type')

                   Source  ddof1        H     p-unc
Kruskal  h_occupancy_type      3  4.07808  0.253155

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='h_occupancy_type')

                   Source  ddof1         H     p-unc
Kruskal  h_occupancy_type      3  2.475576  0.479721

In [8]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='h_occupancy_type')

                   Source  ddof1        H     p-unc
Kruskal  h_occupancy_type      3  3.02819  0.387299

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='h_occupancy_type')

                   Source  ddof1         H    p-unc
Kruskal  h_occupancy_type      2  1.890823  0.38852

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='h_occupancy_type')

                   Source  ddof1    H  p-unc
Kruskal  h_occupancy_type      0  0.0    NaN

In [11]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='h_occupancy_type')

                   Source  ddof1        H     p-unc
Kruskal  h_occupancy_type      3  6.19704  0.102408