In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['keros_boil_heat_efficiency'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['gas boiler_eff_rating'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='gas boiler_eff_rating')

ZeroDivisionError: division by zero

In [4]:
x = data.copy()
x = x.loc[(x['elec_boil_power_eff_rating'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='elec_boil_power_eff_rating')

ZeroDivisionError: division by zero

In [5]:
x = data.copy()
x = x.loc[(x['cook_equip_used'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='cook_equip_used')

                  Source  ddof1         H     p-unc
Kruskal  cook_equip_used      1  1.457773  0.227285

In [6]:
x = data.copy()
x = x.loc[(x['renewable_installed'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='renewable_installed')

                      Source  ddof1         H     p-unc
Kruskal  renewable_installed      1  0.035274  0.851022

In [7]:
x = data.copy()
x = x.loc[(x['elec_rate_check'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='elec_rate_check')

                  Source  ddof1          H     p-unc
Kruskal  elec_rate_check      1  11.370509  0.000746

In [8]:
x = data.copy()
x = x.loc[(x['city_g_rate_check'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='city_g_rate_check')

ZeroDivisionError: division by zero

In [9]:
x = data.copy()
x = x.loc[(x['why_not_check_city_el_rate'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='why_not_check_city_el_rate')

                             Source  ddof1         H     p-unc
Kruskal  why_not_check_city_el_rate      3  1.388119  0.708322

In [10]:
x = data.copy()
x = x.loc[(x['why_not_check_city_g_rate'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='why_not_check_city_g_rate')

ZeroDivisionError: division by zero

In [11]:
x = data.copy()
x = x.loc[(x['gas_avg_monthly_heat_cost_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='gas_avg_monthly_heat_cost_group')

                                  Source  ddof1         H     p-unc
Kruskal  gas_avg_monthly_heat_cost_group      3  1.742458  0.627536

In [3]:
x = data.copy()
x = x.loc[(x['gas_last_winter_heat_statisfaction'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='gas_last_winter_heat_statisfaction')

                                     Source  ddof1         H     p-unc
Kruskal  gas_last_winter_heat_statisfaction      2  2.642786  0.266763

In [13]:
x = data.copy()
x = x.loc[(x['insuf_heat_due_to_cost'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='insuf_heat_due_to_cost')

                         Source  ddof1         H     p-unc
Kruskal  insuf_heat_due_to_cost      1  1.161972  0.281057

In [14]:
x = data.copy()
x = x.loc[(x['insul_added_material'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='insul_added_material')

                       Source  ddof1         H     p-unc
Kruskal  insul_added_material      6  5.909501  0.433404

In [15]:
x = data.copy()
x = x.loc[(x['improve_energy_method'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='improve_energy_method')

                        Source  ddof1         H     p-unc
Kruskal  improve_energy_method      2  0.884036  0.642738

In [16]:
x = data.copy()
x = x.loc[(x['energy_savinng_prog'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='energy_savinng_prog')

                      Source  ddof1    H  p-unc
Kruskal  energy_savinng_prog      0  0.0    NaN

In [17]:
x = data.copy()
x = x.loc[(x['N_of_house_members_category'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='N_of_house_members_category')

                              Source  ddof1         H     p-unc
Kruskal  N_of_house_members_category      2  1.152956  0.561874

In [18]:
x = data.copy()
x = x.loc[(x['gender'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='gender')

         Source  ddof1         H     p-unc
Kruskal  gender      1  0.035608  0.850328

In [19]:
x = data.copy()
x = x.loc[(x['head_house_age_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='head_house_age_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_age_group      3  5.300684  0.151058

In [20]:
x = data.copy()
x = x.loc[(x['head_house_edu_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='head_house_edu_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_edu_group      3  3.032516  0.386639

In [21]:
x = data.copy()
x = x.loc[(x['head_house_occ_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='head_house_occ_group')

                       Source  ddof1        H     p-unc
Kruskal  head_house_occ_group      5  4.32636  0.503446

In [22]:
x = data.copy()
x = x.loc[(x['head_house_income_source_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='head_house_income_source_group')

                                 Source  ddof1         H     p-unc
Kruskal  head_house_income_source_group      4  5.184527  0.268882

In [23]:
x = data.copy()
x = x.loc[(x['house_member_pregnant'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='house_member_pregnant')

                        Source  ddof1    H  p-unc
Kruskal  house_member_pregnant      0  0.0    NaN

In [24]:
x = data.copy()
x = x.loc[(x['annual_income_category'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='annual_income_category')

                         Source  ddof1         H     p-unc
Kruskal  annual_income_category      1  0.022791  0.880001

In [25]:
x = data.copy()
x = x.loc[(x['av_monthly_income_group'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='av_monthly_income_group')

                          Source  ddof1         H     p-unc
Kruskal  av_monthly_income_group      3  2.676213  0.444285