In [2]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [3]:
data = df.copy()
data = data.loc[(data['N_of_heating_room_winter'] != -2)]

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='N_of_heating_room_winter')

                           Source  ddof1         H     p-unc
Kruskal  N_of_heating_room_winter      3  3.804118  0.283407

In [5]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='N_of_heating_room_winter')

                           Source  ddof1        H     p-unc
Kruskal  N_of_heating_room_winter      3  4.18959  0.241706

In [6]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='N_of_heating_room_winter')

                           Source  ddof1          H         p-unc
Kruskal  N_of_heating_room_winter      3  51.393214  4.033805e-11

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='N_of_heating_room_winter')

                           Source  ddof1         H     p-unc
Kruskal  N_of_heating_room_winter      3  6.140417  0.104975

In [8]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='N_of_heating_room_winter')

                           Source  ddof1          H     p-unc
Kruskal  N_of_heating_room_winter      3  12.509986  0.005826

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='N_of_heating_room_winter')

                           Source  ddof1         H     p-unc
Kruskal  N_of_heating_room_winter      3  1.000666  0.801091

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='N_of_heating_room_winter')

                           Source  ddof1         H     p-unc
Kruskal  N_of_heating_room_winter      3  6.722802  0.081278

In [11]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='N_of_heating_room_winter')

                           Source  ddof1      H     p-unc
Kruskal  N_of_heating_room_winter      3  2.375  0.498305

In [13]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='N_of_heating_room_winter')

                           Source  ddof1          H         p-unc
Kruskal  N_of_heating_room_winter      4  37.640673  1.329054e-07