In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# TYPEHUQ vs Floor area
kruskal(data=df, dv='TOTAREA', between='TYPEHUQ')

          Source  ddof1            H  p-unc
Kruskal  TYPEHUQ      3  1892.631176    0.0

In [3]:
# TYPEHUQ vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='TYPEHUQ')

          Source  ddof1            H          p-unc
Kruskal  TYPEHUQ      3  1145.931348  3.945184e-248

In [4]:
# TYPEHUQ vs latent heat
kruskal(data=df, dv='OA_LAT', between='TYPEHUQ')

          Source  ddof1         H     p-unc
Kruskal  TYPEHUQ      3  4.257289  0.234988

In [5]:
# TYPEHUQ vs EUI
kruskal(data=df, dv='EUI', between='TYPEHUQ')

          Source  ddof1          H         p-unc
Kruskal  TYPEHUQ      3  60.868149  3.834877e-13