In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.dropna(subset=["ta","tr", "vel", "rh", "met", "clo", "thermal_sensation", "climate"])

In [3]:
x = data.copy()
kruskal(data=x, dv='ta', between='climate')

          Source  ddof1             H  p-unc
Kruskal  climate     25  11622.037873    0.0

In [4]:
x = data.copy()
kruskal(data=x, dv='tr', between='climate')

          Source  ddof1             H  p-unc
Kruskal  climate     25  10960.048268    0.0

In [5]:
x = data.copy()
kruskal(data=x, dv='vel', between='climate')

          Source  ddof1             H  p-unc
Kruskal  climate     25  17925.915222    0.0

In [6]:
x = data.copy()
kruskal(data=x, dv='rh', between='climate')

          Source  ddof1             H  p-unc
Kruskal  climate     25  27505.476826    0.0

In [7]:
x = data.copy()
kruskal(data=x, dv='met', between='climate')

          Source  ddof1             H  p-unc
Kruskal  climate     25  10181.049378    0.0

In [8]:
x = data.copy()
kruskal(data=x, dv='clo', between='climate')

          Source  ddof1             H  p-unc
Kruskal  climate     25  15324.726173    0.0

In [9]:
x = data.copy()
kruskal(data=x, dv='thermal_sensation', between='climate')

          Source  ddof1            H  p-unc
Kruskal  climate     25  1896.236178    0.0