In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['res_area'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['N_of_heating_room_winter'] != -2)]
kruskal(data=x, dv='res_area', between='N_of_heating_room_winter')

                           Source  ddof1           H         p-unc
Kruskal  N_of_heating_room_winter      3  278.372989  4.762983e-60

In [4]:
x = data.copy()
x = x.loc[(x['N_of_heating_liv_room_winter'] != -2)]
kruskal(data=x, dv='res_area', between='N_of_heating_liv_room_winter')

                               Source  ddof1          H         p-unc
Kruskal  N_of_heating_liv_room_winter      1  38.786176  4.728649e-10

In [5]:
x = data.copy()
x = x.loc[(x['N_of_heating_bathroom_winter'] != -2)]
kruskal(data=x, dv='res_area', between='N_of_heating_bathroom_winter')

                               Source  ddof1           H         p-unc
Kruskal  N_of_heating_bathroom_winter      2  211.812449  1.012771e-46

In [6]:
x = data.copy()
x = x.loc[(x['N_of_ext_wall_win_group'] != -2)]
kruskal(data=x, dv='res_area', between='N_of_ext_wall_win_group')

                          Source  ddof1           H         p-unc
Kruskal  N_of_ext_wall_win_group      3  136.334164  2.332416e-29

In [7]:
x = data.copy()
x = x.loc[(x['ratio_double_glazed_group'] != -2)]
kruskal(data=x, dv='res_area', between='ratio_double_glazed_group')

                            Source  ddof1          H         p-unc
Kruskal  ratio_double_glazed_group      3  59.885153  6.219888e-13

In [8]:
x = data.copy()
x = x.loc[(x['N_double_glazed_win_group'] != -2)]
kruskal(data=x, dv='res_area', between='N_double_glazed_win_group')

                            Source  ddof1          H         p-unc
Kruskal  N_double_glazed_win_group      4  75.479769  1.577374e-15

In [9]:
x = data.copy()
x = x.loc[(x['h_occupancy_type'] != -2)]
kruskal(data=x, dv='res_area', between='h_occupancy_type')

                   Source  ddof1          H         p-unc
Kruskal  h_occupancy_type      3  56.182179  3.841207e-12

In [10]:
x = data.copy()
x = x.loc[(x['main_heat_facility'] != -2)]
kruskal(data=x, dv='res_area', between='main_heat_facility')

                     Source  ddof1           H         p-unc
Kruskal  main_heat_facility      7  250.809537  1.863307e-50

In [11]:
x = data.copy()
x = x.loc[(x['main_heat_fuel'] != -2)]
kruskal(data=x, dv='res_area', between='main_heat_fuel')

                 Source  ddof1          H         p-unc
Kruskal  main_heat_fuel      6  238.38142  1.244154e-48

In [12]:
x = data.copy()
x = x.loc[(x['aux_heat_used'] != -2)]
kruskal(data=x, dv='res_area', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  3.874197  0.049034

In [13]:
x = data.copy()
x = x.loc[(x['gas boiler_eff_rating'] != -2)]
kruskal(data=x, dv='res_area', between='gas boiler_eff_rating')

                        Source  ddof1          H     p-unc
Kruskal  gas boiler_eff_rating      3  26.847574  0.000006

In [14]:
x = data.copy()
x = x.loc[(x['elec_boil_power_eff_rating'] != -2)]
kruskal(data=x, dv='res_area', between='elec_boil_power_eff_rating')

                             Source  ddof1         H     p-unc
Kruskal  elec_boil_power_eff_rating      4  4.190303  0.380863

In [15]:
x = data.copy()
x = x.loc[(x['cook_equip_used'] != -2)]
kruskal(data=x, dv='res_area', between='cook_equip_used')

                  Source  ddof1           H         p-unc
Kruskal  cook_equip_used      4  209.244548  3.862596e-44

In [16]:
x = data.copy()
x = x.loc[(x['renewable_installed'] != -2)]
kruskal(data=x, dv='res_area', between='renewable_installed')

                      Source  ddof1         H     p-unc
Kruskal  renewable_installed      1  0.000114  0.991499

In [17]:
x = data.copy()
x = x.loc[(x['elec_rate_check'] != -2)]
kruskal(data=x, dv='res_area', between='elec_rate_check')

                  Source  ddof1         H     p-unc
Kruskal  elec_rate_check      1  0.628643  0.427854

In [18]:
x = data.copy()
x = x.loc[(x['city_g_rate_check'] != -2)]
kruskal(data=x, dv='res_area', between='city_g_rate_check')

                    Source  ddof1         H     p-unc
Kruskal  city_g_rate_check      1  1.246447  0.264232

In [19]:
x = data.copy()
x = x.loc[(x['why_not_check_city_el_rate'] != -2)]
kruskal(data=x, dv='res_area', between='why_not_check_city_el_rate')

                             Source  ddof1          H    p-unc
Kruskal  why_not_check_city_el_rate      3  20.907511  0.00011

In [20]:
x = data.copy()
x = x.loc[(x['why_not_check_city_g_rate'] != -2)]
kruskal(data=x, dv='res_area', between='why_not_check_city_g_rate')

                            Source  ddof1         H     p-unc
Kruskal  why_not_check_city_g_rate      3  4.050179  0.256096

In [21]:
x = data.copy()
x = x.loc[(x['gas_avg_monthly_heat_cost_group'] != -2)]
kruskal(data=x, dv='res_area', between='gas_avg_monthly_heat_cost_group')

                                  Source  ddof1         H     p-unc
Kruskal  gas_avg_monthly_heat_cost_group      3  8.085709  0.044273

In [3]:
x = data.copy()
x = x.loc[(x['gas_last_winter_heat_statisfaction'] != -2)]
kruskal(data=x, dv='res_area', between='gas_last_winter_heat_statisfaction')

                                     Source  ddof1          H     p-unc
Kruskal  gas_last_winter_heat_statisfaction      2  23.417879  0.000008

In [23]:
x = data.copy()
x = x.loc[(x['insuf_heat_due_to_cost'] != -2)]
kruskal(data=x, dv='res_area', between='insuf_heat_due_to_cost')

                         Source  ddof1         H     p-unc
Kruskal  insuf_heat_due_to_cost      1  0.437909  0.508133

In [24]:
x = data.copy()
x = x.loc[(x['insul_added_material'] != -2)]
kruskal(data=x, dv='res_area', between='insul_added_material')

                       Source  ddof1          H     p-unc
Kruskal  insul_added_material      6  30.072695  0.000038

In [25]:
x = data.copy()
x = x.loc[(x['improve_energy_method'] != -2)]
kruskal(data=x, dv='res_area', between='improve_energy_method')

                        Source  ddof1         H     p-unc
Kruskal  improve_energy_method      5  8.360519  0.137454

In [26]:
x = data.copy()
x = x.loc[(x['energy_savinng_prog'] != -2)]
kruskal(data=x, dv='res_area', between='energy_savinng_prog')

                      Source  ddof1         H     p-unc
Kruskal  energy_savinng_prog      2  7.139791  0.028159

In [27]:
x = data.copy()
x = x.loc[(x['N_of_house_members_category'] != -2)]
kruskal(data=x, dv='res_area', between='N_of_house_members_category')

                              Source  ddof1           H         p-unc
Kruskal  N_of_house_members_category      3  154.591539  2.692708e-33

In [28]:
x = data.copy()
x = x.loc[(x['gender'] != -2)]
kruskal(data=x, dv='res_area', between='gender')

         Source  ddof1          H         p-unc
Kruskal  gender      1  85.303035  2.559700e-20

In [29]:
x = data.copy()
x = x.loc[(x['head_house_age_group'] != -2)]
kruskal(data=x, dv='res_area', between='head_house_age_group')

                       Source  ddof1           H         p-unc
Kruskal  head_house_age_group      4  100.878737  6.393759e-21

In [30]:
x = data.copy()
x = x.loc[(x['head_house_edu_group'] != -2)]
kruskal(data=x, dv='res_area', between='head_house_edu_group')

                       Source  ddof1           H         p-unc
Kruskal  head_house_edu_group      3  269.500758  3.958008e-58

In [31]:
x = data.copy()
x = x.loc[(x['head_house_occ_group'] != -2)]
kruskal(data=x, dv='res_area', between='head_house_occ_group')

                       Source  ddof1           H         p-unc
Kruskal  head_house_occ_group      5  166.297467  4.496991e-34

In [32]:
x = data.copy()
x = x.loc[(x['head_house_income_source_group'] != -2)]
kruskal(data=x, dv='res_area', between='head_house_income_source_group')

                                 Source  ddof1           H         p-unc
Kruskal  head_house_income_source_group      6  169.680321  5.257709e-34

In [33]:
x = data.copy()
x = x.loc[(x['house_member_pregnant'] != -2)]
kruskal(data=x, dv='res_area', between='house_member_pregnant')

                        Source  ddof1         H    p-unc
Kruskal  house_member_pregnant      1  0.044374  0.83316

In [34]:
x = data.copy()
x = x.loc[(x['annual_income_category'] != -2)]
kruskal(data=x, dv='res_area', between='annual_income_category')

                         Source  ddof1          H     p-unc
Kruskal  annual_income_category      4  26.362027  0.000027

In [35]:
x = data.copy()
x = x.loc[(x['av_monthly_income_group'] != -2)]
kruskal(data=x, dv='res_area', between='av_monthly_income_group')

                          Source  ddof1           H         p-unc
Kruskal  av_monthly_income_group      3  392.800972  8.025653e-85