In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.dropna(subset=["ta","tr", "vel", "rh", "met", "clo", "thermal_sensation", "country"])

In [3]:
x = data.copy()
kruskal(data=x, dv='ta', between='country')

          Source  ddof1             H  p-unc
Kruskal  country     19  11444.392396    0.0

In [4]:
x = data.copy()
kruskal(data=x, dv='tr', between='country')

          Source  ddof1             H  p-unc
Kruskal  country     19  10975.409227    0.0

In [5]:
x = data.copy()
kruskal(data=x, dv='vel', between='country')

          Source  ddof1             H  p-unc
Kruskal  country     19  17468.632736    0.0

In [6]:
x = data.copy()
kruskal(data=x, dv='rh', between='country')

          Source  ddof1             H  p-unc
Kruskal  country     19  21327.333309    0.0

In [7]:
x = data.copy()
kruskal(data=x, dv='met', between='country')

          Source  ddof1            H  p-unc
Kruskal  country     19  9150.245545    0.0

In [8]:
x = data.copy()
kruskal(data=x, dv='clo', between='country')

          Source  ddof1             H  p-unc
Kruskal  country     19  12399.235626    0.0

In [9]:
x = data.copy()
kruskal(data=x, dv='thermal_sensation', between='country')

          Source  ddof1            H          p-unc
Kruskal  country     19  1497.456202  1.554573e-306