In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['city_code'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['res_area'] != -2)]
kruskal(data=x, dv='res_area', between='city_code')

            Source  ddof1           H         p-unc
Kruskal  city_code     15  469.377868  1.675346e-90

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='city_code')

            Source  ddof1           H         p-unc
Kruskal  city_code     13  113.273695  4.258382e-18

In [5]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='city_code')

            Source  ddof1          H     p-unc
Kruskal  city_code     12  36.229006  0.000298

In [6]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='city_code')

            Source  ddof1           H         p-unc
Kruskal  city_code     14  131.066714  4.184657e-21

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='city_code')

            Source  ddof1          H    p-unc
Kruskal  city_code     14  46.961549  0.00002

In [8]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='city_code')

            Source  ddof1          H     p-unc
Kruskal  city_code     14  54.632167  0.000001

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='city_code')

            Source  ddof1         H     p-unc
Kruskal  city_code      8  9.281121  0.319139

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='city_code')

            Source  ddof1         H     p-unc
Kruskal  city_code      4  8.368059  0.078989

In [11]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='city_code')

            Source  ddof1        H     p-unc
Kruskal  city_code      5  5.77136  0.329106

In [12]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=df, dv='EUI', between='city_code')

            Source  ddof1           H         p-unc
Kruskal  city_code     16  252.599628  1.515755e-44