In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# WALLTYPE vs Floor area
kruskal(data=df, dv='TOTAREA', between='WALLTYPE')

           Source  ddof1           H         p-unc
Kruskal  WALLTYPE      7  138.487875  1.054027e-26

In [3]:
# WALLTYPE vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='WALLTYPE')

           Source  ddof1          H         p-unc
Kruskal  WALLTYPE      7  77.054133  5.483945e-14

In [4]:
# WALLTYPE vs latent heat
kruskal(data=df, dv='OA_LAT', between='WALLTYPE')

           Source  ddof1           H          p-unc
Kruskal  WALLTYPE      7  699.829682  7.504992e-147

In [5]:
# WALLTYPE vs EUI
kruskal(data=df, dv='EUI', between='WALLTYPE')

           Source  ddof1          H         p-unc
Kruskal  WALLTYPE      7  195.57099  9.943507e-39