In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.dropna(subset=["ta","tr", "vel", "rh", "met", "clo", "thermal_sensation", "season"])

In [3]:
x = data.copy()
kruskal(data=x, dv='ta', between='season')

         Source  ddof1             H  p-unc
Kruskal  season      5  11854.963091    0.0

In [4]:
x = data.copy()
kruskal(data=x, dv='tr', between='season')

         Source  ddof1            H  p-unc
Kruskal  season      5  10612.18948    0.0

In [5]:
x = data.copy()
kruskal(data=x, dv='vel', between='season')

         Source  ddof1            H  p-unc
Kruskal  season      5  5389.232542    0.0

In [6]:
x = data.copy()
kruskal(data=x, dv='rh', between='season')

         Source  ddof1             H  p-unc
Kruskal  season      5  10218.880182    0.0

In [7]:
x = data.copy()
kruskal(data=x, dv='met', between='season')

         Source  ddof1           H         p-unc
Kruskal  season      5  378.933607  1.027330e-79

In [8]:
x = data.copy()
kruskal(data=x, dv='clo', between='season')

         Source  ddof1             H  p-unc
Kruskal  season      5  14886.698677    0.0

In [9]:
x = data.copy()
kruskal(data=x, dv='thermal_sensation', between='season')

         Source  ddof1            H  p-unc
Kruskal  season      5  2739.017972    0.0