In [3]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [4]:
# CDD65 vs WSF
kruskal(data=df, dv='WSF', between='CDD65')

        Source  ddof1            H         p-unc
Kruskal  CDD65   2587  3638.146116  5.322440e-39

In [5]:
# CDD65 vs Floor area
kruskal(data=df, dv='TOTAREA', between='CDD65')

        Source  ddof1            H     p-unc
Kruskal  CDD65   2587  2573.371467  0.571631

In [6]:
# CDD65 vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='CDD65')

        Source  ddof1            H     p-unc
Kruskal  CDD65   2587  2495.542833  0.899282

In [7]:
# CDD65 vs latent heat
kruskal(data=df, dv='OA_LAT', between='CDD65')

        Source  ddof1            H         p-unc
Kruskal  CDD65   2587  3717.830153  3.652606e-44

In [8]:
# CDD65 vs EUI
kruskal(data=df, dv='EUI', between='CDD65')

        Source  ddof1            H         p-unc
Kruskal  CDD65   2587  3441.481612  2.003646e-27