In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['gas boil_power consumption'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['gas boiler_eff_rating'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='gas boiler_eff_rating')

                        Source  ddof1          H     p-unc
Kruskal  gas boiler_eff_rating      3  25.365583  0.000013

In [4]:
x = data.copy()
x = x.loc[(x['elec_boil_power_eff_rating'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='elec_boil_power_eff_rating')

ZeroDivisionError: division by zero

In [5]:
x = data.copy()
x = x.loc[(x['cook_equip_used'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='cook_equip_used')

                  Source  ddof1         H     p-unc
Kruskal  cook_equip_used      4  2.116263  0.714385

In [6]:
x = data.copy()
x = x.loc[(x['renewable_installed'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='renewable_installed')

                      Source  ddof1         H     p-unc
Kruskal  renewable_installed      1  0.282934  0.594785

In [7]:
x = data.copy()
x = x.loc[(x['elec_rate_check'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='elec_rate_check')

                  Source  ddof1         H     p-unc
Kruskal  elec_rate_check      1  0.874744  0.349645

In [8]:
x = data.copy()
x = x.loc[(x['city_g_rate_check'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='city_g_rate_check')

                    Source  ddof1         H     p-unc
Kruskal  city_g_rate_check      1  4.214468  0.040081

In [9]:
x = data.copy()
x = x.loc[(x['why_not_check_city_el_rate'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='why_not_check_city_el_rate')

                             Source  ddof1         H    p-unc
Kruskal  why_not_check_city_el_rate      3  4.365135  0.22464

In [10]:
x = data.copy()
x = x.loc[(x['why_not_check_city_g_rate'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='why_not_check_city_g_rate')

                            Source  ddof1         H    p-unc
Kruskal  why_not_check_city_g_rate      3  0.599224  0.89661

In [11]:
x = data.copy()
x = x.loc[(x['gas_avg_monthly_heat_cost_group'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='gas_avg_monthly_heat_cost_group')

                                  Source  ddof1         H     p-unc
Kruskal  gas_avg_monthly_heat_cost_group      3  5.528869  0.136922

In [3]:
x = data.copy()
x = x.loc[(x['gas_last_winter_heat_statisfaction'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='gas_last_winter_heat_statisfaction')

                                     Source  ddof1         H     p-unc
Kruskal  gas_last_winter_heat_statisfaction      2  1.417076  0.492363

In [13]:
x = data.copy()
x = x.loc[(x['insuf_heat_due_to_cost'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='insuf_heat_due_to_cost')

                         Source  ddof1         H     p-unc
Kruskal  insuf_heat_due_to_cost      1  0.508411  0.475827

In [14]:
x = data.copy()
x = x.loc[(x['insul_added_material'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='insul_added_material')

                       Source  ddof1         H     p-unc
Kruskal  insul_added_material      6  4.577435  0.599033

In [15]:
x = data.copy()
x = x.loc[(x['improve_energy_method'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='improve_energy_method')

                        Source  ddof1          H    p-unc
Kruskal  improve_energy_method      5  10.696094  0.05775

In [16]:
x = data.copy()
x = x.loc[(x['energy_savinng_prog'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='energy_savinng_prog')

                      Source  ddof1         H     p-unc
Kruskal  energy_savinng_prog      2  0.566873  0.753191

In [17]:
x = data.copy()
x = x.loc[(x['N_of_house_members_category'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='N_of_house_members_category')

                              Source  ddof1         H    p-unc
Kruskal  N_of_house_members_category      2  7.942536  0.01885

In [18]:
x = data.copy()
x = x.loc[(x['gender'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='gender')

         Source  ddof1         H     p-unc
Kruskal  gender      1  0.034412  0.852833

In [19]:
x = data.copy()
x = x.loc[(x['head_house_age_group'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='head_house_age_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_age_group      4  8.006907  0.091326

In [20]:
x = data.copy()
x = x.loc[(x['head_house_edu_group'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='head_house_edu_group')

                       Source  ddof1          H     p-unc
Kruskal  head_house_edu_group      3  10.283362  0.016305

In [21]:
x = data.copy()
x = x.loc[(x['head_house_occ_group'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='head_house_occ_group')

                       Source  ddof1          H     p-unc
Kruskal  head_house_occ_group      5  16.970667  0.004556

In [22]:
x = data.copy()
x = x.loc[(x['head_house_income_source_group'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='head_house_income_source_group')

                                 Source  ddof1         H     p-unc
Kruskal  head_house_income_source_group      6  12.48497  0.051984

In [23]:
x = data.copy()
x = x.loc[(x['house_member_pregnant'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='house_member_pregnant')

                        Source  ddof1         H    p-unc
Kruskal  house_member_pregnant      1  0.017683  0.89421

In [24]:
x = data.copy()
x = x.loc[(x['annual_income_category'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='annual_income_category')

                         Source  ddof1        H     p-unc
Kruskal  annual_income_category      2  1.95553  0.376151

In [25]:
x = data.copy()
x = x.loc[(x['av_monthly_income_group'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='av_monthly_income_group')

                          Source  ddof1          H     p-unc
Kruskal  av_monthly_income_group      3  21.344012  0.000089