In [12]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [13]:
data = df.copy()
data = data.loc[(data['ratio_double_glazed_group'] != -2)]

In [14]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='ratio_double_glazed_group')

                            Source  ddof1        H     p-unc
Kruskal  ratio_double_glazed_group      3  1.19468  0.754281

In [15]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='ratio_double_glazed_group')

                            Source  ddof1         H     p-unc
Kruskal  ratio_double_glazed_group      3  7.319254  0.062389

In [16]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='ratio_double_glazed_group')

                            Source  ddof1          H     p-unc
Kruskal  ratio_double_glazed_group      3  15.446277  0.001472

In [17]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='ratio_double_glazed_group')

                            Source  ddof1         H     p-unc
Kruskal  ratio_double_glazed_group      3  8.566662  0.035643

In [18]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='ratio_double_glazed_group')

                            Source  ddof1        H     p-unc
Kruskal  ratio_double_glazed_group      3  5.59109  0.133291

In [19]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='ratio_double_glazed_group')

                            Source  ddof1         H     p-unc
Kruskal  ratio_double_glazed_group      3  0.900666  0.825267

In [20]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='ratio_double_glazed_group')

                            Source  ddof1         H     p-unc
Kruskal  ratio_double_glazed_group      3  1.895559  0.594364

In [21]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='ratio_double_glazed_group')

                            Source  ddof1         H     p-unc
Kruskal  ratio_double_glazed_group      3  3.936154  0.268441

In [22]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='ratio_double_glazed_group')

                            Source  ddof1          H     p-unc
Kruskal  ratio_double_glazed_group      3  14.135769  0.002726