In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['aux_heat_used'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  0.006106  0.937716

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  5.001515  0.025325

In [5]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  3.433788  0.063875

In [6]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  6.054736  0.013869

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  0.203367  0.652016

In [8]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  1.522691  0.217213

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  5.455932  0.019502

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='aux_heat_used')

                Source  ddof1         H     p-unc
Kruskal  aux_heat_used      1  2.137451  0.143741

In [11]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='aux_heat_used')

                Source  ddof1        H     p-unc
Kruskal  aux_heat_used      1  1.48684  0.222707