In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

data_for_causal = df.copy()
conditions = [(data_for_causal['TOTROOMS']>=1) & (data_for_causal['TOTROOMS']<=2), 
                (data_for_causal['TOTROOMS']>=3) & (data_for_causal['TOTROOMS']<=4),
                (data_for_causal['TOTROOMS']>=5) & (data_for_causal['TOTROOMS']<=6),
                (data_for_causal['TOTROOMS']>=7) & (data_for_causal['TOTROOMS']<=8),
                (data_for_causal['TOTROOMS']>=9) & (data_for_causal['TOTROOMS']<=10),
                (data_for_causal['TOTROOMS']>=11) & (data_for_causal['TOTROOMS']<=12),
                (data_for_causal['TOTROOMS']>=13) & (data_for_causal['TOTROOMS']<=14),
                (data_for_causal['TOTROOMS']>=15) & (data_for_causal['TOTROOMS']<=16),
                (data_for_causal['TOTROOMS']>=17) & (data_for_causal['TOTROOMS']<=18),
                (data_for_causal['TOTROOMS']>=19) & (data_for_causal['TOTROOMS']<=20),]

choices = [0, 1 , 2 , 3, 4, 5, 6 ,7, 8, 9]

data_for_causal['TOTROOMS_cat'] = np.select(conditions, choices, default=0)
data_for_causal = data_for_causal.rename(columns={'TOTROOMS': 'TOTROOMS_old', 'TOTROOMS_cat': 'TOTROOMS'})
data_for_causal.drop(labels=['TOTROOMS_old'], axis=1, inplace=True)
df = data_for_causal

In [2]:
# TOTROOMS vs Floor area
kruskal(data=df, dv='TOTAREA', between='TOTROOMS')

           Source  ddof1            H  p-unc
Kruskal  TOTROOMS      9  2560.317253    0.0

In [3]:
# TOTROOMS vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='TOTROOMS')

           Source  ddof1            H  p-unc
Kruskal  TOTROOMS      9  1864.085857    0.0

In [4]:
# TOTROOMS vs latent heat
kruskal(data=df, dv='OA_LAT', between='TOTROOMS')

           Source  ddof1          H     p-unc
Kruskal  TOTROOMS      9  32.899896  0.000139

In [5]:
# TOTROOMS vs EUI
kruskal(data=df, dv='EUI', between='TOTROOMS')

           Source  ddof1           H         p-unc
Kruskal  TOTROOMS      9  118.207955  3.108281e-21