In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['N_of_ext_wall_win_group'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='N_of_ext_wall_win_group')

                          Source  ddof1         H     p-unc
Kruskal  N_of_ext_wall_win_group      3  9.909184  0.019354

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='N_of_ext_wall_win_group')

                          Source  ddof1         H    p-unc
Kruskal  N_of_ext_wall_win_group      3  6.646254  0.08407

In [5]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='N_of_ext_wall_win_group')

                          Source  ddof1          H     p-unc
Kruskal  N_of_ext_wall_win_group      3  27.174256  0.000005

In [6]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='N_of_ext_wall_win_group')

                          Source  ddof1         H     p-unc
Kruskal  N_of_ext_wall_win_group      3  0.395197  0.941233

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='N_of_ext_wall_win_group')

                          Source  ddof1         H     p-unc
Kruskal  N_of_ext_wall_win_group      3  2.684223  0.442915

In [8]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='N_of_ext_wall_win_group')

                          Source  ddof1         H     p-unc
Kruskal  N_of_ext_wall_win_group      3  0.181155  0.980573

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='N_of_ext_wall_win_group')

                          Source  ddof1         H     p-unc
Kruskal  N_of_ext_wall_win_group      3  2.929276  0.402658

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='N_of_ext_wall_win_group')

                          Source  ddof1         H    p-unc
Kruskal  N_of_ext_wall_win_group      3  2.673086  0.44482

In [11]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='N_of_ext_wall_win_group')

                          Source  ddof1          H     p-unc
Kruskal  N_of_ext_wall_win_group      3  19.157849  0.000254