In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['N_of_heating_bathroom_winter'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='N_of_heating_bathroom_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_bathroom_winter      2  0.379304  0.827247

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='N_of_heating_bathroom_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_bathroom_winter      2  3.015545  0.221403

In [5]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='N_of_heating_bathroom_winter')

                               Source  ddof1          H     p-unc
Kruskal  N_of_heating_bathroom_winter      2  20.086975  0.000043

In [6]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='N_of_heating_bathroom_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_bathroom_winter      2  1.705463  0.426249

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='N_of_heating_bathroom_winter')

                               Source  ddof1          H     p-unc
Kruskal  N_of_heating_bathroom_winter      2  14.119034  0.000859

In [8]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='N_of_heating_bathroom_winter')

                               Source  ddof1        H     p-unc
Kruskal  N_of_heating_bathroom_winter      2  5.07753  0.078964

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='N_of_heating_bathroom_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_bathroom_winter      2  2.209435  0.331305

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='N_of_heating_bathroom_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_bathroom_winter      2  4.952751  0.084047

In [11]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='N_of_heating_bathroom_winter')

                               Source  ddof1          H         p-unc
Kruskal  N_of_heating_bathroom_winter      2  38.230478  4.992951e-09