In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['N_double_glazed_win_group'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='N_double_glazed_win_group')

                            Source  ddof1        H     p-unc
Kruskal  N_double_glazed_win_group      4  0.95956  0.915865

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='N_double_glazed_win_group')

                            Source  ddof1         H     p-unc
Kruskal  N_double_glazed_win_group      4  3.973957  0.409542

In [5]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='N_double_glazed_win_group')

                            Source  ddof1         H     p-unc
Kruskal  N_double_glazed_win_group      4  1.703302  0.790118

In [6]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='N_double_glazed_win_group')

                            Source  ddof1         H     p-unc
Kruskal  N_double_glazed_win_group      4  5.286055  0.259185

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='N_double_glazed_win_group')

                            Source  ddof1          H     p-unc
Kruskal  N_double_glazed_win_group      4  17.251752  0.001727

In [8]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='N_double_glazed_win_group')

                            Source  ddof1         H     p-unc
Kruskal  N_double_glazed_win_group      4  1.195219  0.878885

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='N_double_glazed_win_group')

                            Source  ddof1         H     p-unc
Kruskal  N_double_glazed_win_group      4  4.198824  0.379766

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='N_double_glazed_win_group')

                            Source  ddof1         H     p-unc
Kruskal  N_double_glazed_win_group      3  3.717063  0.293682

In [11]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='N_double_glazed_win_group')

                            Source  ddof1          H         p-unc
Kruskal  N_double_glazed_win_group      5  42.227537  5.297769e-08