In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')
df = df.loc[(df['THERMAIN'] != -2)]

In [2]:
# THERMAIN vs Floor area
kruskal(data=df, dv='TOTAREA', between='THERMAIN')

           Source  ddof1           H         p-unc
Kruskal  THERMAIN      2  261.097524  2.010912e-57

In [3]:
# THERMAIN vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='THERMAIN')

           Source  ddof1           H         p-unc
Kruskal  THERMAIN      2  391.830479  8.224179e-86

In [4]:
# THERMAIN vs latent heat
kruskal(data=df, dv='OA_LAT', between='THERMAIN')

           Source  ddof1          H         p-unc
Kruskal  THERMAIN      2  51.312883  7.203592e-12

In [2]:
# THERMAIN vs EUI
kruskal(data=df, dv='EUI', between='THERMAIN')

           Source  ddof1          H         p-unc
Kruskal  THERMAIN      1  70.975134  3.617557e-17