In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['completion_year_group'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['res_area'] != -2)]
kruskal(data=x, dv='res_area', between='completion_year_group')

                        Source  ddof1           H         p-unc
Kruskal  completion_year_group      5  178.109056  1.355976e-36

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='completion_year_group')

                        Source  ddof1         H     p-unc
Kruskal  completion_year_group      5  8.557036  0.128091

In [5]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='completion_year_group')

                        Source  ddof1       H     p-unc
Kruskal  completion_year_group      5  11.418  0.043694

In [6]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='completion_year_group')

                        Source  ddof1          H     p-unc
Kruskal  completion_year_group      5  13.586518  0.018461

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='completion_year_group')

                        Source  ddof1         H     p-unc
Kruskal  completion_year_group      5  1.303567  0.934564

In [8]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='completion_year_group')

                        Source  ddof1          H     p-unc
Kruskal  completion_year_group      5  14.606171  0.012185

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='completion_year_group')

                        Source  ddof1          H     p-unc
Kruskal  completion_year_group      5  14.820472  0.011158

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='completion_year_group')

                        Source  ddof1         H     p-unc
Kruskal  completion_year_group      5  4.814539  0.438931

In [11]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='completion_year_group')

                        Source  ddof1       H     p-unc
Kruskal  completion_year_group      4  2.6311  0.621324

In [12]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=df, dv='EUI', between='completion_year_group')

                        Source  ddof1           H         p-unc
Kruskal  completion_year_group      5  105.339996  3.951189e-21