In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['city_code'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['res_area'] != -2)]
kruskal(data=x, dv='res_area', between='HDD18_bins')

             Source  ddof1         H         p-unc
Kruskal  HDD18_bins      3  35.04652  1.190990e-07

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='HDD18_bins')

             Source  ddof1          H     p-unc
Kruskal  HDD18_bins      3  15.536659  0.001411

In [5]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='HDD18_bins')

             Source  ddof1          H     p-unc
Kruskal  HDD18_bins      3  19.665252  0.000199

In [6]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='HDD18_bins')

             Source  ddof1          H         p-unc
Kruskal  HDD18_bins      3  53.337334  1.553552e-11

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='HDD18_bins')

             Source  ddof1          H     p-unc
Kruskal  HDD18_bins      3  27.057161  0.000006

In [8]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='HDD18_bins')

             Source  ddof1         H     p-unc
Kruskal  HDD18_bins      3  8.564864  0.035672

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='HDD18_bins')

             Source  ddof1         H     p-unc
Kruskal  HDD18_bins      1  0.005009  0.943578

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='HDD18_bins')

             Source  ddof1         H   p-unc
Kruskal  HDD18_bins      1  0.422484  0.5157

In [11]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='HDD18_bins')

             Source  ddof1         H     p-unc
Kruskal  HDD18_bins      1  0.222239  0.637339

In [12]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=df, dv='EUI', between='HDD18_bins')

             Source  ddof1          H         p-unc
Kruskal  HDD18_bins      3  63.146007  1.249836e-13