In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['N_of_heating_liv_room_winter'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='N_of_heating_liv_room_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_liv_room_winter      1  0.044397  0.833117

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='N_of_heating_liv_room_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_liv_room_winter      1  0.901336  0.342424

In [5]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='N_of_heating_liv_room_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_liv_room_winter      1  3.496133  0.061512

In [6]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='N_of_heating_liv_room_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_liv_room_winter      1  0.390744  0.531909

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='N_of_heating_liv_room_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_liv_room_winter      1  0.942745  0.331573

In [8]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='N_of_heating_liv_room_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_liv_room_winter      1  0.361957  0.547421

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='N_of_heating_liv_room_winter')

                               Source  ddof1         H     p-unc
Kruskal  N_of_heating_liv_room_winter      1  0.944289  0.331177

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='N_of_heating_liv_room_winter')

                               Source  ddof1    H  p-unc
Kruskal  N_of_heating_liv_room_winter      0  0.0    NaN

In [11]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='N_of_heating_liv_room_winter')

                               Source  ddof1          H     p-unc
Kruskal  N_of_heating_liv_room_winter      2  10.075741  0.006488