In [15]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')
df = df.loc[(df['ELPAY'] == 1) | (df['ELPAY'] ==2) | (df['ELPAY'] ==3)]

In [2]:
# ADQINSUL vs EUI
kruskal(data=df, dv='EUI', between='ADQINSUL')

           Source  ddof1          H         p-unc
Kruskal  ADQINSUL      3  71.340467  2.203875e-15

In [4]:
# AUDIT vs EUI
kruskal(data=df, dv='EUI', between='AUDIT')

        Source  ddof1         H     p-unc
Kruskal  AUDIT      1  0.018249  0.892542

In [6]:
# ESWIN vs EUI
kruskal(data=df, dv='EUI', between='ESWIN')

        Source  ddof1          H         p-unc
Kruskal  ESWIN      1  50.584423  1.141475e-12

In [16]:
# ELPAY vs EUI
kruskal(data=df, dv='EUI', between='ELPAY')

        Source  ddof1        H     p-unc
Kruskal  ELPAY      2  8.56221  0.013827

In [8]:
# SMARTMETER vs EUI
kruskal(data=df, dv='EUI', between='SMARTMETER')

             Source  ddof1          H     p-unc
Kruskal  SMARTMETER      1  16.139256  0.000059

In [10]:
# INTDATA vs EUI
kruskal(data=df, dv='EUI', between='INTDATA')

          Source  ddof1         H     p-unc
Kruskal  INTDATA      1  3.675924  0.055204

In [12]:
# ENERGYASST vs EUI
kruskal(data=df, dv='EUI', between='ENERGYASST')

             Source  ddof1         H     p-unc
Kruskal  ENERGYASST      1  0.944999  0.330996

In [9]:
# SOLOTHER vs EUI
kruskal(data=df, dv='EUI', between='SOLOTHER')

           Source  ddof1         H     p-unc
Kruskal  SOLOTHER      1  2.267357  0.132125