In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# NHSLDMEM_category vs WSF
kruskal(data=df, dv='WSF', between='NHSLDMEM_category')

                    Source  ddof1         H     p-unc
Kruskal  NHSLDMEM_category      5  4.558937  0.472037

In [3]:
# Income_category vs WSF
kruskal(data=df, dv='WSF', between='Income_category')

                  Source  ddof1        H     p-unc
Kruskal  Income_category      2  1.16083  0.559666

In [4]:
# COOLTYPE vs WSF
kruskal(data=df, dv='WSF', between='COOLTYPE')

           Source  ddof1           H         p-unc
Kruskal  COOLTYPE      2  209.312774  3.534343e-46

In [5]:
# AGECENAC_category vs WSF
df = df.loc[(df['AGECENAC_category'] != -2)]
kruskal(data=df, dv='WSF', between='AGECENAC_category')

                    Source  ddof1          H     p-unc
Kruskal  AGECENAC_category      1  10.025314  0.001544

In [6]:
# THERMAIN vs WSF
kruskal(data=df, dv='WSF', between='THERMAIN')

           Source  ddof1           H         p-unc
Kruskal  THERMAIN      2  115.026519  1.052710e-25

In [7]:
# Home_vs_Night vs WSF
kruskal(data=df, dv='WSF', between='Home_vs_Night')

                Source  ddof1         H     p-unc
Kruskal  Home_vs_Night      2  9.597254  0.008241

In [8]:
# Gone_vs_Night vs WSF
kruskal(data=df, dv='WSF', between='Gone_vs_Night')

                Source  ddof1          H     p-unc
Kruskal  Gone_vs_Night      2  11.401451  0.003344

In [9]:
# USECENAC vs WSF
df = df.loc[(df['USECENAC'] != -2)]
kruskal(data=df, dv='WSF', between='USECENAC')

           Source  ddof1          H         p-unc
Kruskal  USECENAC      4  60.327421  2.475803e-12

In [10]:
# TYPEHUQ vs WSF
kruskal(data=df, dv='WSF', between='TYPEHUQ')

          Source  ddof1         H     p-unc
Kruskal  TYPEHUQ      3  3.915969  0.270682

In [11]:
# ROOFTYPE vs WSF
kruskal(data=df, dv='WSF', between='ROOFTYPE')

           Source  ddof1          H         p-unc
Kruskal  ROOFTYPE      7  41.155169  7.559118e-07

In [12]:
# WALLTYPE vs WSF
kruskal(data=df, dv='WSF', between='WALLTYPE')

           Source  ddof1           H         p-unc
Kruskal  WALLTYPE      7  304.191893  7.699057e-62

In [13]:
# WALLTYPE vs WSF
kruskal(data=df, dv='WSF', between='WINDOWS')

          Source  ddof1          H     p-unc
Kruskal  WINDOWS      6  37.161807  0.000002

In [14]:
# YEARMADERANGE vs WSF
kruskal(data=df, dv='WSF', between='YEARMADERANGE')

                Source  ddof1          H         p-unc
Kruskal  YEARMADERANGE      7  98.931221  1.793051e-18

In [15]:
# TOTROOMS vs WSF
data_for_causal = df.copy()
conditions = [(data_for_causal['TOTROOMS']>=1) & (data_for_causal['TOTROOMS']<=2), 
                (data_for_causal['TOTROOMS']>=3) & (data_for_causal['TOTROOMS']<=4),
                (data_for_causal['TOTROOMS']>=5) & (data_for_causal['TOTROOMS']<=6),
                (data_for_causal['TOTROOMS']>=7) & (data_for_causal['TOTROOMS']<=8),
                (data_for_causal['TOTROOMS']>=9) & (data_for_causal['TOTROOMS']<=10),
                (data_for_causal['TOTROOMS']>=11) & (data_for_causal['TOTROOMS']<=12),
                (data_for_causal['TOTROOMS']>=13) & (data_for_causal['TOTROOMS']<=14),
                (data_for_causal['TOTROOMS']>=15) & (data_for_causal['TOTROOMS']<=16),
                (data_for_causal['TOTROOMS']>=17) & (data_for_causal['TOTROOMS']<=18),
                (data_for_causal['TOTROOMS']>=19) & (data_for_causal['TOTROOMS']<=20),]

choices = [0, 1 , 2 , 3, 4, 5, 6 ,7, 8, 9]

data_for_causal['TOTROOMS_cat'] = np.select(conditions, choices, default=0)
data_for_causal = data_for_causal.rename(columns={'TOTROOMS': 'TOTROOMS_old', 'TOTROOMS_cat': 'TOTROOMS'})
data_for_causal.drop(labels=['TOTROOMS_old'], axis=1, inplace=True)
df1 = data_for_causal

kruskal(data=df1, dv='WSF', between='TOTROOMS')

           Source  ddof1          H         p-unc
Kruskal  TOTROOMS      8  53.145388  1.010796e-08

In [16]:
# ADQINSUL vs WSF
kruskal(data=df, dv='WSF', between='ADQINSUL')

           Source  ddof1         H     p-unc
Kruskal  ADQINSUL      3  2.233753  0.525331

In [17]:
# AUDIT vs WSF
kruskal(data=df, dv='WSF', between='AUDIT')

        Source  ddof1         H     p-unc
Kruskal  AUDIT      3  3.317192  0.345257

In [18]:
# ESWIN vs WSF
kruskal(data=df, dv='WSF', between='ESWIN')

        Source  ddof1          H     p-unc
Kruskal  ESWIN      3  21.925111  0.000068

In [19]:
# ESWIN vs WSF
kruskal(data=df, dv='WSF', between='ELPAY')

        Source  ddof1         H     p-unc
Kruskal  ELPAY      3  1.101969  0.776599

In [20]:
# SMARTMETER vs WSF
kruskal(data=df, dv='WSF', between='SMARTMETER')

             Source  ddof1         H     p-unc
Kruskal  SMARTMETER      3  5.746074  0.124639

In [21]:
# INTDATA vs WSF
kruskal(data=df, dv='WSF', between='INTDATA')

          Source  ddof1         H     p-unc
Kruskal  INTDATA      4  7.777697  0.100069

In [22]:
# ENERGYASST vs WSF
kruskal(data=df, dv='WSF', between='ENERGYASST')

             Source  ddof1         H     p-unc
Kruskal  ENERGYASST      1  0.107718  0.742757

In [23]:
# ENERGYASST vs WSF
kruskal(data=df, dv='WSF', between='SOLOTHER')

           Source  ddof1       H     p-unc
Kruskal  SOLOTHER      1  3.7023  0.054338