In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['main_heat_fuel'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='main_heat_fuel')

                 Source  ddof1         H     p-unc
Kruskal  main_heat_fuel      3  3.958212  0.266012

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='main_heat_fuel')

                 Source  ddof1         H     p-unc
Kruskal  main_heat_fuel      1  0.926254  0.335838

In [5]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='main_heat_fuel')

                 Source  ddof1         H     p-unc
Kruskal  main_heat_fuel      3  8.174906  0.042532

In [6]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='main_heat_fuel')

                 Source  ddof1         H     p-unc
Kruskal  main_heat_fuel      2  3.533949  0.170849

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='main_heat_fuel')

                 Source  ddof1         H     p-unc
Kruskal  main_heat_fuel      2  2.452271  0.293424

In [8]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='main_heat_fuel')

                 Source  ddof1    H  p-unc
Kruskal  main_heat_fuel      0  0.0    NaN

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='main_heat_fuel')

                 Source  ddof1    H  p-unc
Kruskal  main_heat_fuel      0  0.0    NaN

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='main_heat_fuel')

                 Source  ddof1    H  p-unc
Kruskal  main_heat_fuel      0  0.0    NaN

In [11]:
x = data.copy()
x = x.loc[(x['EUI'] != -2)]
kruskal(data=df, dv='EUI', between='main_heat_fuel')

                 Source  ddof1          H         p-unc
Kruskal  main_heat_fuel      6  264.56172  3.159966e-54