In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.dropna(subset=["ta","tr", "vel", "rh", "met", "clo", "thermal_sensation", "thermal_preference"])

In [3]:
x = data.copy()
kruskal(data=x, dv='ta', between='thermal_preference')

                     Source  ddof1            H  p-unc
Kruskal  thermal_preference      2  8593.919328    0.0

In [4]:
x = data.copy()
kruskal(data=x, dv='tr', between='thermal_preference')

                     Source  ddof1            H  p-unc
Kruskal  thermal_preference      2  8218.600233    0.0

In [5]:
x = data.copy()
kruskal(data=x, dv='vel', between='thermal_preference')

                     Source  ddof1            H          p-unc
Kruskal  thermal_preference      2  1031.572129  9.930208e-225

In [6]:
x = data.copy()
kruskal(data=x, dv='rh', between='thermal_preference')

                     Source  ddof1           H         p-unc
Kruskal  thermal_preference      2  207.555286  8.510249e-46

In [7]:
x = data.copy()
kruskal(data=x, dv='met', between='thermal_preference')

                     Source  ddof1          H         p-unc
Kruskal  thermal_preference      2  40.693895  1.456911e-09

In [8]:
x = data.copy()
kruskal(data=x, dv='clo', between='thermal_preference')

                     Source  ddof1            H  p-unc
Kruskal  thermal_preference      2  3100.503406    0.0

In [9]:
x = data.copy()
kruskal(data=x, dv='thermal_sensation', between='thermal_preference')

                     Source  ddof1             H  p-unc
Kruskal  thermal_preference      2  26552.322241    0.0