In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')
df = df.loc[(df['AGECENAC_category'] != -2)]

In [2]:
# AGECENAC_category vs Floor area
kruskal(data=df, dv='TOTAREA', between='AGECENAC_category')

                    Source  ddof1         H     p-unc
Kruskal  AGECENAC_category      1  0.120517  0.728474

In [3]:
# AGECENAC_category vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='AGECENAC_category')

                    Source  ddof1         H     p-unc
Kruskal  AGECENAC_category      1  0.001452  0.969607

In [4]:
# AGECENAC_category vs latent heat
kruskal(data=df, dv='OA_LAT', between='AGECENAC_category')

                    Source  ddof1          H     p-unc
Kruskal  AGECENAC_category      1  13.218035  0.000277

In [5]:
# AGECENAC_category vs EUI
kruskal(data=df, dv='EUI', between='AGECENAC_category')

                    Source  ddof1         H     p-unc
Kruskal  AGECENAC_category      1  0.123259  0.725526