In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.dropna(subset=["ta","tr", "vel", "rh", "met", "clo", "thermal_sensation", "cooling_type"])

In [3]:
x = data.copy()
kruskal(data=x, dv='ta', between='cooling_type')

               Source  ddof1           H  p-unc
Kruskal  cooling_type      2  2599.05133    0.0

In [4]:
x = data.copy()
kruskal(data=x, dv='tr', between='cooling_type')

               Source  ddof1            H  p-unc
Kruskal  cooling_type      2  2030.090232    0.0

In [5]:
x = data.copy()
kruskal(data=x, dv='vel', between='cooling_type')

               Source  ddof1           H          p-unc
Kruskal  cooling_type      2  638.996679  1.752404e-139

In [6]:
x = data.copy()
kruskal(data=x, dv='rh', between='cooling_type')

               Source  ddof1            H  p-unc
Kruskal  cooling_type      2  3671.342539    0.0

In [7]:
x = data.copy()
kruskal(data=x, dv='met', between='cooling_type')

               Source  ddof1           H         p-unc
Kruskal  cooling_type      2  330.715768  1.534558e-72

In [8]:
x = data.copy()
kruskal(data=x, dv='clo', between='cooling_type')

               Source  ddof1           H         p-unc
Kruskal  cooling_type      2  430.377707  3.504841e-94

In [9]:
x = data.copy()
kruskal(data=x, dv='thermal_sensation', between='cooling_type')

               Source  ddof1            H          p-unc
Kruskal  cooling_type      2  1247.964816  1.018318e-271