In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['res_floor_group'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['res_area'] != -2)]
kruskal(data=x, dv='res_area', between='res_floor_group')

                  Source  ddof1           H         p-unc
Kruskal  res_floor_group      4  232.193935  4.449111e-49

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='res_floor_group')

                  Source  ddof1         H    p-unc
Kruskal  res_floor_group      2  3.966232  0.13764

In [5]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='res_floor_group')

                  Source  ddof1         H     p-unc
Kruskal  res_floor_group      2  3.394698  0.183168

In [6]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='res_floor_group')

                  Source  ddof1         H     p-unc
Kruskal  res_floor_group      4  4.014324  0.404071

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='res_floor_group')

                  Source  ddof1        H     p-unc
Kruskal  res_floor_group      4  4.61189  0.329486

In [8]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='res_floor_group')

                  Source  ddof1         H     p-unc
Kruskal  res_floor_group      4  9.218146  0.055872

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='res_floor_group')

                  Source  ddof1         H     p-unc
Kruskal  res_floor_group      2  0.014274  0.992888

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='res_floor_group')

                  Source  ddof1         H    p-unc
Kruskal  res_floor_group      2  0.639116  0.72647

In [11]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='res_floor_group')

                  Source  ddof1         H     p-unc
Kruskal  res_floor_group      1  0.602871  0.437485

In [12]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=df, dv='EUI', between='res_floor_group')

                  Source  ddof1          H         p-unc
Kruskal  res_floor_group      4  156.92091  6.686647e-33