In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.dropna(subset=["ta","tr", "vel", "rh", "met", "clo", "thermal_sensation", "building_type"])

In [3]:
x = data.copy()
kruskal(data=x, dv='ta', between='building_type')

                Source  ddof1            H          p-unc
Kruskal  building_type      4  1134.497057  2.521346e-244

In [4]:
x = data.copy()
kruskal(data=x, dv='tr', between='building_type')

                Source  ddof1            H  p-unc
Kruskal  building_type      4  1475.034601    0.0

In [5]:
x = data.copy()
kruskal(data=x, dv='vel', between='building_type')

                Source  ddof1            H  p-unc
Kruskal  building_type      4  3175.498906    0.0

In [6]:
x = data.copy()
kruskal(data=x, dv='rh', between='building_type')

                Source  ddof1           H  p-unc
Kruskal  building_type      4  9631.60946    0.0

In [7]:
x = data.copy()
kruskal(data=x, dv='met', between='building_type')

                Source  ddof1            H  p-unc
Kruskal  building_type      4  2145.576352    0.0

In [8]:
x = data.copy()
kruskal(data=x, dv='clo', between='building_type')

                Source  ddof1            H  p-unc
Kruskal  building_type      4  2075.628414    0.0

In [9]:
x = data.copy()
kruskal(data=x, dv='thermal_sensation', between='building_type')

                Source  ddof1           H         p-unc
Kruskal  building_type      4  107.670894  2.283620e-22