In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# NHSLDMEM_category vs Floor area
kruskal(data=df, dv='TOTAREA', between='NHSLDMEM_category')

                    Source  ddof1           H         p-unc
Kruskal  NHSLDMEM_category      5  146.876231  6.170463e-30

In [3]:
# NHSLDMEM_category vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='NHSLDMEM_category')

                    Source  ddof1           H         p-unc
Kruskal  NHSLDMEM_category      5  114.873947  3.818406e-23

In [4]:
# NHSLDMEM_category vs latent heat
kruskal(data=df, dv='OA_LAT', between='NHSLDMEM_category')

                    Source  ddof1          H     p-unc
Kruskal  NHSLDMEM_category      5  15.177863  0.009629

In [5]:
# NHSLDMEM_category vs EUI
kruskal(data=df, dv='EUI', between='NHSLDMEM_category')

                    Source  ddof1         H    p-unc
Kruskal  NHSLDMEM_category      5  2.255979  0.81271