In [4]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [5]:
data = df.copy()
data = data.loc[(data['gas_boil_heat_output'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['gas boiler_eff_rating'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='gas boiler_eff_rating')

                        Source  ddof1          H         p-unc
Kruskal  gas boiler_eff_rating      3  58.169488  1.446193e-12

In [4]:
x = data.copy()
x = x.loc[(x['elec_boil_power_eff_rating'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='elec_boil_power_eff_rating')

ZeroDivisionError: division by zero

In [5]:
x = data.copy()
x = x.loc[(x['cook_equip_used'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='cook_equip_used')

                  Source  ddof1         H     p-unc
Kruskal  cook_equip_used      4  9.918638  0.041821

In [6]:
x = data.copy()
x = x.loc[(x['renewable_installed'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='renewable_installed')

                      Source  ddof1         H     p-unc
Kruskal  renewable_installed      1  2.050435  0.152163

In [7]:
x = data.copy()
x = x.loc[(x['elec_rate_check'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='elec_rate_check')

                  Source  ddof1         H     p-unc
Kruskal  elec_rate_check      1  4.939381  0.026251

In [8]:
x = data.copy()
x = x.loc[(x['city_g_rate_check'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='city_g_rate_check')

                    Source  ddof1          H     p-unc
Kruskal  city_g_rate_check      1  23.724297  0.000001

In [9]:
x = data.copy()
x = x.loc[(x['why_not_check_city_el_rate'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='why_not_check_city_el_rate')

                             Source  ddof1         H     p-unc
Kruskal  why_not_check_city_el_rate      3  2.639853  0.450546

In [10]:
x = data.copy()
x = x.loc[(x['why_not_check_city_g_rate'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='why_not_check_city_g_rate')

                            Source  ddof1         H     p-unc
Kruskal  why_not_check_city_g_rate      3  3.921845  0.270028

In [11]:
x = data.copy()
x = x.loc[(x['gas_avg_monthly_heat_cost_group'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='gas_avg_monthly_heat_cost_group')

                                  Source  ddof1         H     p-unc
Kruskal  gas_avg_monthly_heat_cost_group      3  3.160137  0.367588

In [6]:
x = data.copy()
x = x.loc[(x['gas_last_winter_heat_statisfaction'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='gas_last_winter_heat_statisfaction')

                                     Source  ddof1         H     p-unc
Kruskal  gas_last_winter_heat_statisfaction      2  1.312562  0.518777

In [13]:
x = data.copy()
x = x.loc[(x['insuf_heat_due_to_cost'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='insuf_heat_due_to_cost')

                         Source  ddof1         H     p-unc
Kruskal  insuf_heat_due_to_cost      1  5.077576  0.024237

In [14]:
x = data.copy()
x = x.loc[(x['insul_added_material'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='insul_added_material')

                       Source  ddof1         H     p-unc
Kruskal  insul_added_material      6  5.570859  0.472934

In [15]:
x = data.copy()
x = x.loc[(x['improve_energy_method'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='improve_energy_method')

                        Source  ddof1         H     p-unc
Kruskal  improve_energy_method      5  6.488779  0.261519

In [16]:
x = data.copy()
x = x.loc[(x['energy_savinng_prog'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='energy_savinng_prog')

                      Source  ddof1         H     p-unc
Kruskal  energy_savinng_prog      2  7.728661  0.020977

In [17]:
x = data.copy()
x = x.loc[(x['N_of_house_members_category'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='N_of_house_members_category')

                              Source  ddof1          H     p-unc
Kruskal  N_of_house_members_category      2  13.042611  0.001472

In [18]:
x = data.copy()
x = x.loc[(x['gender'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='gender')

         Source  ddof1         H     p-unc
Kruskal  gender      1  9.151873  0.002485

In [19]:
x = data.copy()
x = x.loc[(x['head_house_age_group'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='head_house_age_group')

                       Source  ddof1         H     p-unc
Kruskal  head_house_age_group      4  6.527306  0.163078

In [20]:
x = data.copy()
x = x.loc[(x['head_house_edu_group'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='head_house_edu_group')

                       Source  ddof1          H     p-unc
Kruskal  head_house_edu_group      3  21.645427  0.000077

In [21]:
x = data.copy()
x = x.loc[(x['head_house_occ_group'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='head_house_occ_group')

                       Source  ddof1          H     p-unc
Kruskal  head_house_occ_group      5  26.098016  0.000085

In [22]:
x = data.copy()
x = x.loc[(x['head_house_income_source_group'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='head_house_income_source_group')

                                 Source  ddof1          H     p-unc
Kruskal  head_house_income_source_group      6  20.752236  0.002032

In [23]:
x = data.copy()
x = x.loc[(x['house_member_pregnant'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='house_member_pregnant')

                        Source  ddof1         H    p-unc
Kruskal  house_member_pregnant      1  0.561242  0.45376

In [24]:
x = data.copy()
x = x.loc[(x['annual_income_category'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='annual_income_category')

                         Source  ddof1         H     p-unc
Kruskal  annual_income_category      3  6.411392  0.093223

In [25]:
x = data.copy()
x = x.loc[(x['av_monthly_income_group'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='av_monthly_income_group')

                          Source  ddof1          H         p-unc
Kruskal  av_monthly_income_group      3  36.958883  4.694478e-08