In [6]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [7]:
# WINDOWS vs Floor area
kruskal(data=df, dv='TOTAREA', between='WINDOWS')

          Source  ddof1            H  p-unc
Kruskal  WINDOWS      6  2189.388923    0.0

In [8]:
# WINDOWS vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='WINDOWS')

          Source  ddof1            H          p-unc
Kruskal  WINDOWS      6  1297.914605  3.063129e-277

In [9]:
# WINDOWS vs latent heat
kruskal(data=df, dv='OA_LAT', between='WINDOWS')

          Source  ddof1          H     p-unc
Kruskal  WINDOWS      6  11.265782  0.080501

In [10]:
# WINDOWS vs EUI
kruskal(data=df, dv='EUI', between='WINDOWS')

          Source  ddof1          H         p-unc
Kruskal  WINDOWS      6  58.586303  8.715211e-11