In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# ADQINSUL vs Floor area
kruskal(data=df, dv='TOTAREA', between='ADQINSUL')

           Source  ddof1           H         p-unc
Kruskal  ADQINSUL      3  143.618083  6.269995e-31

In [3]:
# AUDIT vs Floor area
kruskal(data=df, dv='TOTAREA', between='AUDIT')

        Source  ddof1           H         p-unc
Kruskal  AUDIT      3  126.175581  3.607035e-27

In [4]:
# ESWIN vs Floor area
kruskal(data=df, dv='TOTAREA', between='ESWIN')

        Source  ddof1           H         p-unc
Kruskal  ESWIN      3  312.562758  1.899551e-67

In [5]:
# ELPAY vs Floor area
kruskal(data=df, dv='TOTAREA', between='ELPAY')

        Source  ddof1           H         p-unc
Kruskal  ELPAY      3  316.333734  2.899891e-68

In [6]:
# SMARTMETER vs Floor area
kruskal(data=df, dv='TOTAREA', between='SMARTMETER')

             Source  ddof1         H         p-unc
Kruskal  SMARTMETER      3  40.05649  1.036532e-08

In [7]:
# INTDATA vs Floor area
kruskal(data=df, dv='TOTAREA', between='INTDATA')

          Source  ddof1          H     p-unc
Kruskal  INTDATA      4  20.234974  0.000449

In [8]:
# ENERGYASST vs Floor area
kruskal(data=df, dv='TOTAREA', between='ENERGYASST')

             Source  ddof1         H         p-unc
Kruskal  ENERGYASST      1  53.90051  2.109030e-13

In [9]:
# SOLOTHER vs Floor area
kruskal(data=df, dv='TOTAREA', between='SOLOTHER')

           Source  ddof1         H     p-unc
Kruskal  SOLOTHER      1  1.518503  0.217846