In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# ADQINSUL vs OA_LAT
kruskal(data=df, dv='OA_LAT', between='ADQINSUL')

           Source  ddof1         H     p-unc
Kruskal  ADQINSUL      3  4.725473  0.193039

In [3]:
# AUDIT vs OA_LAT
kruskal(data=df, dv='OA_LAT', between='AUDIT')

        Source  ddof1         H     p-unc
Kruskal  AUDIT      3  3.627859  0.304554

In [4]:
# ESWIN vs OA_LAT
kruskal(data=df, dv='OA_LAT', between='ESWIN')

        Source  ddof1          H     p-unc
Kruskal  ESWIN      3  28.584829  0.000003

In [5]:
# ELPAY vs OA_LAT
kruskal(data=df, dv='OA_LAT', between='ELPAY')

        Source  ddof1         H     p-unc
Kruskal  ELPAY      3  1.585088  0.662776

In [6]:
# SMARTMETER vs OA_LAT
kruskal(data=df, dv='OA_LAT', between='SMARTMETER')

             Source  ddof1         H     p-unc
Kruskal  SMARTMETER      3  1.125646  0.770887

In [7]:
# INTDATA vs OA_LAT
kruskal(data=df, dv='OA_LAT', between='INTDATA')

          Source  ddof1         H     p-unc
Kruskal  INTDATA      4  4.065725  0.397184

In [8]:
# ENERGYASST vs OA_LAT
kruskal(data=df, dv='OA_LAT', between='ENERGYASST')

             Source  ddof1          H     p-unc
Kruskal  ENERGYASST      1  21.320748  0.000004

In [9]:
# SOLOTHER vs OA_LAT
kruskal(data=df, dv='OA_LAT', between='SOLOTHER')

           Source  ddof1         H     p-unc
Kruskal  SOLOTHER      1  0.031804  0.858459