In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.dropna(subset=["ta","tr", "vel", "rh", "met", "clo", "thermal_sensation"])

In [3]:
x = data.copy()
x = x.dropna(subset=['season'])
kruskal(data=x, dv='ta', between='season')

         Source  ddof1             H  p-unc
Kruskal  season      5  11854.963091    0.0

In [5]:
x = data.copy()
x = x.dropna(subset=['climate'])
kruskal(data=x, dv='ta', between='climate')

          Source  ddof1             H  p-unc
Kruskal  climate     25  11622.037873    0.0

In [6]:
x = data.copy()
x = x.dropna(subset=['country'])
kruskal(data=x, dv='ta', between='country')

          Source  ddof1             H  p-unc
Kruskal  country     19  11444.392396    0.0

In [7]:
x = data.copy()
x = x.dropna(subset=['building_type'])
kruskal(data=x, dv='ta', between='building_type')

                Source  ddof1            H          p-unc
Kruskal  building_type      4  1134.497057  2.521346e-244

In [8]:
x = data.copy()
x = x.dropna(subset=['cooling_type'])
kruskal(data=x, dv='ta', between='cooling_type')

               Source  ddof1           H  p-unc
Kruskal  cooling_type      2  2599.05133    0.0

In [9]:
x = data.copy()
x = x.dropna(subset=['thermal_preference'])
kruskal(data=x, dv='ta', between='thermal_preference')

                     Source  ddof1            H  p-unc
Kruskal  thermal_preference      2  8593.919328    0.0