In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['N_of_outer_walls'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['res_area'] != -2)]
kruskal(data=x, dv='res_area', between='N_of_outer_walls')

                   Source  ddof1           H         p-unc
Kruskal  N_of_outer_walls      4  169.354276  1.438968e-35

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='N_of_outer_walls')

                   Source  ddof1         H     p-unc
Kruskal  N_of_outer_walls      4  1.962771  0.742606

In [5]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='N_of_outer_walls')

                   Source  ddof1         H     p-unc
Kruskal  N_of_outer_walls      4  3.167694  0.530165

In [6]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='N_of_outer_walls')

                   Source  ddof1          H     p-unc
Kruskal  N_of_outer_walls      4  15.971329  0.003058

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='N_of_outer_walls')

                   Source  ddof1         H     p-unc
Kruskal  N_of_outer_walls      4  3.861504  0.425074

In [8]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='N_of_outer_walls')

                   Source  ddof1         H     p-unc
Kruskal  N_of_outer_walls      4  3.449867  0.485542

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='N_of_outer_walls')

                   Source  ddof1         H     p-unc
Kruskal  N_of_outer_walls      4  3.150591  0.532948

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='N_of_outer_walls')

                   Source  ddof1         H    p-unc
Kruskal  N_of_outer_walls      4  1.525978  0.82203

In [11]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='N_of_outer_walls')

                   Source  ddof1       H     p-unc
Kruskal  N_of_outer_walls      2  4.5811  0.101211

In [12]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=df, dv='EUI', between='N_of_outer_walls')

                   Source  ddof1           H         p-unc
Kruskal  N_of_outer_walls      4  109.421031  9.670793e-23