In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# Home_vs_Night vs Floor area
kruskal(data=df, dv='TOTAREA', between='Home_vs_Night')

                Source  ddof1         H     p-unc
Kruskal  Home_vs_Night      2  4.066515  0.130908

In [3]:
# Home_vs_Night vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='Home_vs_Night')

                Source  ddof1         H     p-unc
Kruskal  Home_vs_Night      2  8.187813  0.016674

In [4]:
# Home_vs_Night vs latent heat
kruskal(data=df, dv='OA_LAT', between='Home_vs_Night')

                Source  ddof1          H         p-unc
Kruskal  Home_vs_Night      2  33.315494  5.829514e-08

In [5]:
# Home_vs_Night vs EUI
kruskal(data=df, dv='EUI', between='Home_vs_Night')

                Source  ddof1         H     p-unc
Kruskal  Home_vs_Night      2  5.690565  0.058118