In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
data = df.copy()
data = data.loc[(data['housing_type'] != -2)]

In [3]:
x = data.copy()
x = x.loc[(x['res_area'] != -2)]
kruskal(data=x, dv='res_area', between='housing_type')

               Source  ddof1           H         p-unc
Kruskal  housing_type      7  238.287884  8.593666e-48

In [4]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_output'] != -2)]
kruskal(data=x, dv='keros_boil_heat_output', between='housing_type')

               Source  ddof1         H     p-unc
Kruskal  housing_type      6  7.971945  0.240166

In [5]:
x = data.copy()
x = x.loc[(x['keros_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='keros_boil_heat_efficiency', between='housing_type')

               Source  ddof1         H     p-unc
Kruskal  housing_type      4  7.868257  0.096525

In [6]:
x = data.copy()
x = x.loc[(x['gas_boil_heat_output'] != -2)]
kruskal(data=x, dv='gas_boil_heat_output', between='housing_type')

               Source  ddof1          H     p-unc
Kruskal  housing_type      7  13.927465  0.052487

In [7]:
x = data.copy()
x = x.loc[(x['gas boil_power consumption'] != -2)]
kruskal(data=x, dv='gas boil_power consumption', between='housing_type')

               Source  ddof1          H     p-unc
Kruskal  housing_type      7  10.276589  0.173434

In [8]:
x = data.copy()
x = x.loc[(x['gas boil_heat efficiency'] != -2)]
kruskal(data=x, dv='gas boil_heat efficiency', between='housing_type')

               Source  ddof1          H     p-unc
Kruskal  housing_type      7  14.857137  0.037875

In [9]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_output_lcal_h'] != -2)]
kruskal(data=x, dv='elec_boil_heat_output_lcal_h', between='housing_type')

               Source  ddof1         H     p-unc
Kruskal  housing_type      1  1.088343  0.296839

In [10]:
x = data.copy()
x = x.loc[(x['elec_boil_power_consumption'] != -2)]
kruskal(data=x, dv='elec_boil_power_consumption', between='housing_type')

               Source  ddof1         H     p-unc
Kruskal  housing_type      3  2.769812  0.428494

In [11]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=x, dv='elec_boil_heat_efficiency', between='housing_type')

               Source  ddof1         H     p-unc
Kruskal  housing_type      2  1.831041  0.400308

In [12]:
x = data.copy()
x = x.loc[(x['elec_boil_heat_efficiency'] != -2)]
kruskal(data=df, dv='EUI', between='housing_type')

               Source  ddof1           H         p-unc
Kruskal  housing_type      7  193.281876  3.033635e-38