In [1]:
import pandas as pd
import numpy as np
from pingouin import kruskal

df = pd.read_excel('data.xlsx')

In [2]:
# Income_category vs Floor area
kruskal(data=df, dv='TOTAREA', between='Income_category')

                  Source  ddof1           H          p-unc
Kruskal  Income_category      2  825.833362  4.705047e-180

In [3]:
# Income_category vs total cooled area
kruskal(data=df, dv='TOTCAREA', between='Income_category')

                  Source  ddof1           H          p-unc
Kruskal  Income_category      2  835.929031  3.022159e-182

In [4]:
# Income_category vs latent heat
kruskal(data=df, dv='OA_LAT', between='Income_category')

                  Source  ddof1          H     p-unc
Kruskal  Income_category      2  19.905016  0.000048

In [5]:
# Income_category vs EUI
kruskal(data=df, dv='EUI', between='Income_category')

                  Source  ddof1          H         p-unc
Kruskal  Income_category      2  89.305834  4.050275e-20